<div  class="card mt-1">
  <div *ngIf="isLoading" class="spinner-container">
    <div class="custom-spinner"></div>
  </div>

  <div class="card-body" *ngIf="!isLoading">
    <form (ngSubmit)="agregarExploracionPaciente()" [formGroup]="form">
      <!-- grupo 1 -->
      <div class="row mt-3">
        <div class="col-md-2 col-xlg-10 col-md-3">
          <div class="form-group local-forms">
            <label class="form-label">Presión arterial</label>

            <div class="input-group mb-3">
              <input

              formControlName="presionArterial"
              type="text" class="form-control" [ngClass]="{'is-invalid': isValidField1('presionArterial') && isFormSubmitted}">
              <span class="input-group-text" >mn Hg</span>
            </div>
            <div *ngIf="isValidField1('presionArterial')" class="form-text text-danger">
              Debe completar el campo
          </div>
          </div>
        </div>
        <div class="col-md-2 col-xlg-10 col-md-3">
          <div class="form-group local-forms">
            <label class="form-label">Pulso</label>

            <div class="input-group mb-3">
              <input

              formControlName="pulso"
              type="text" class="form-control"
                aria-label="Recipient's username" aria-describedby="basic-addon2" [ngClass]="{'is-invalid': isValidField1('pulso') && isFormSubmitted}">
              <span class="input-group-text" id="basic-addon2">/ min</span>
            </div>
            <div *ngIf="isValidField1('pulso')" class="form-text text-danger">
              Debe completar el campo
          </div>
          </div>
        </div>

        <div class="col-md-2 col-xlg-10 col-md-3">
          <div class="form-group local-forms">
            <label class="form-label">Temperatura</label>

            <div class="input-group mb-3">
              <input

              formControlName="temperatura"
              type="text" class="form-control"
                aria-label="Recipient's username" aria-describedby="basic-addon2" [ngClass]="{'is-invalid': isValidField1('temperatura') && isFormSubmitted}">
              <span class="input-group-text" id="basic-addon2">º C</span>
            </div>
            <div *ngIf="isValidField1('temperatura')" class="form-text text-danger">
              Debe completar el campo
          </div>
          </div>
        </div>

        <div class="col-md-2 col-xlg-10 col-md-3">
          <div class="form-group local-forms">
            <label class="form-label">Frencuencia cardiaca</label>

            <div class="input-group mb-3">
              <input

              formControlName="frecuenciaCardiaca"
              type="text" class="form-control"
                aria-label="Recipient's username" aria-describedby="basic-addon2" [ngClass]="{'is-invalid': isValidField1('frecuenciaCardiaca') && isFormSubmitted}">
              <span class="input-group-text" id="basic-addon2">
                x min.</span>
            </div>
            <div *ngIf="isValidField1('frecuenciaCardiaca')" class="form-text text-danger">
              Debe completar el campo
          </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group local-forms">
            <label class="form-label">Frecuencia respiratoria</label>

            <div class="input-group mb-3">
              <input

              formControlName="frecuenciaRespiratoria"
              type="text" class="form-control"
                aria-label="Recipient's username" aria-describedby="basic-addon2" [ngClass]="{'is-invalid': isValidField1('frecuenciaRespiratoria') && isFormSubmitted}">
              <span class="input-group-text" id="basic-addon2">mn Hg</span>
            </div>
            <div *ngIf="isValidField1('frecuenciaRespiratoria')" class="form-text text-danger">
              Debe completar el campo
          </div>
          </div>
        </div>
      </div>

      <hr>
      <!-- grupo 2 -->
      <div class="row">
        <div class="form-heading">
          <h4>Datos del Paciente</h4>
        </div>
        <br>
        <br>

        <div class="col-md-2">
          <div class="form-group local-forms">
            <label class="form-label">Peso</label>

            <div class="input-group mb-2">
              <input

              formControlName="peso"
              type="text" name="peso" class="form-control" value="" data-dashlane-rid="6c889b3b12134033"
                data-form-type="other"  [ngClass]="{'is-invalid': isValidField1('peso') && isFormSubmitted}">
              <div class="input-group-text" >
                Kg.
              </div>
              <div *ngIf="isValidField1('talla')" class="form-text text-danger">
                Debe completar el campo
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group local-forms">
            <label class="form-label">Talla</label>

            <div class="input-group mb-2">
              <input

              formControlName="talla"
              type="text" name="talla" class="form-control" value="" data-dashlane-rid="a96f0da586b4de63"
                data-form-type="other" [ngClass]="{'is-invalid': isValidField1('talla') && isFormSubmitted}">
              <div class="input-group-text">
                m
              </div>
              <div *ngIf="isValidField1('talla')" class="form-text text-danger">
                Debe completar el campo
            </div>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group local-forms">
            <label class="form-label">IMC</label>

            <div class="input-group mb-2">
              <input

              formControlName="masa"
              type="text" name="masa" class="form-control" value="" data-dashlane-rid="94e6d77ac5f34695"
                data-form-type="other" [ngClass]="{'is-invalid': isValidField1('masa') && isFormSubmitted}">
              <div class="input-group-text" >
                Kg/m.
              </div>
              <div *ngIf="isValidField1('masa')" class="form-text text-danger">
                Debe completar el campo
            </div>
            </div>
          </div>
        </div>


      </div>

      <!-- grupo 3 -->
      <div class="row">
        <div class="col-md-6 ">
          <!-- Text-Area -->
          <div class="form-group local-forms">
            <label>Examen Clinico General<span class="login-danger">*</span></label>
            <div class="input-group">
              <textarea

              formControlName="examenClinico"
              class="form-control" type="text" [ngClass]="{'is-invalid': isValidField1('examenClinico') && isFormSubmitted}">
       </textarea>
            </div>
            <div *ngIf="isValidField1('examenClinico')" class="form-text text-danger">
              Debe completar el campo
          </div>
          </div>
        </div>

        <div class="col-md-6 ">
          <!-- Text-Area -->
          <div class="form-group local-forms">
            <label>
              Examen Complementario<span class="login-danger">*</span></label>
            <div class="input-group">
              <textarea

              formControlName="complementoExamen"
              class="form-control"  type="text" [ngClass]="{'is-invalid': isValidField1('complementoExamen') && isFormSubmitted}">
     </textarea>
            </div>
            <div *ngIf="isValidField1('complementoExamen')" class="form-text text-danger">
              Debe completar el campo
          </div>
          </div>

        </div>


      </div>

      <div class="row">
        <div class="col-md-6 ">
          <!-- Text-Area -->
          <div class="form-group local-forms">
            <label>Odontoestomalogicos<span class="login-danger">*</span></label>
            <div class="input-group">
              <textarea

              formControlName="odontogramaEstomatologico"
              class="form-control" type="text" [ngClass]="{'is-invalid': isValidField1('odontogramaEstomatologico') && isFormSubmitted}">
     </textarea>
            </div>
            <div *ngIf="isValidField1('odontogramaEstomatologico')" class="form-text text-danger">
              Debe completar el campo
          </div>
          </div>
        </div>
      </div>

      <div class="form-actions mb-5 d-flex flex-row-reverse">
        <button   type="submit" class="btn btn-primary submit-form " data-dashlane-rid="afad45a6e1337db1"
          data-form-type="action" data-dashlane-label="true"  > <i class="fa fa-check"></i> Guardar</button>
      </div>
    </form>
  </div>
</div>


