<div class="content">
    <!-- /Page Header -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-heading">
                                    <h4>Editar Sede</h4>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Nombre <span class="login-danger">*</span></label>
                                    <input formControlName="nombre" class="form-control" type="text"
                                        [ngClass]="{'is-invalid': isInvalid('nombre')}">
                                    <div *ngIf="isInvalid('nombre') || mostrarErrores" class="invalid-feedback">
                                        <div *ngIf="isRequerido('nombre')">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Estado <span class="login-danger">*</span></label>
                                    <mat-select formControlName="estado" class="form-control select">
                                        <mat-option value="Activo">Activo</mat-option>
                                        <mat-option value="Inactivo">Inactivo</mat-option>
                                    </mat-select>
                                </div>
                            </div>

                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Codigo <span class="login-danger">*</span></label>
                                    <input formControlName="codigo" class="form-control" type="text"
                                        [ngClass]="{'is-invalid': isInvalid('codigo')}" maxlength="4">
                                    <div *ngIf="validarLongitudCodigo() || isInvalid('codigo') || mostrarErrores" class="invalid-feedback">El código debe contener exactamente 4 caracteres.
                                        <div *ngIf="validarLongitudCodigo() || isRequerido('codigo') || mostrarErrores" class="invalid-feedback">
                                            El código debe contener exactamente 4 caracteres.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Departamento<span class="login-danger">*</span></label>
                                    <mat-select formControlName="departamento"  class="form-control select" placeholder="Departamento"
                                        [ngClass]="{'is-invalid': isInvalid('departamento') && isFormSubmitted}"
                                        (selectionChange)="actualizarProvincias()">
                                        <mat-option *ngFor="let data of departamentos" [value]="data.nombre">
                                            {{data.nombre}}
                                        </mat-option>
                                    </mat-select>
                                    <div *ngIf="isInvalid('departamento') && isFormSubmitted"
                                        class="invalid-feedback">
                                        <div *ngIf="isRequerido('departamento')">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Provincia <span class="login-danger">*</span></label>
                                    <mat-select formControlName="provincia"   
                                        class="form-control select" placeholder="Provincia"
                                        [ngClass]="{'is-invalid': isInvalid('provincia') && isFormSubmitted}"
                                        (selectionChange)="actualizarDistritos()">
                                        <mat-option *ngFor="let data of provincias" [value]="data.nombre">
                                            {{data.nombre}}
                                        </mat-option>
                                    </mat-select>
                                    <div *ngIf="isInvalid('provincia') && isFormSubmitted" class="invalid-feedback">
                                        <div *ngIf="isRequerido('provincia')">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Distrito<span class="login-danger">*</span></label>
                                    <mat-select formControlName="ubigeo" 
                                        class="form-control select" placeholder="Seleccione Distrito"
                                        [ngClass]="{'is-invalid': isInvalid('ubigeo') && isFormSubmitted}">
                                        <mat-option *ngFor="let data of distritos" [value]="data.distritoId">
                                            {{data.nombre}}
                                        </mat-option>
                                    </mat-select>
                                    <div *ngIf="isInvalid('ubigeo') && isFormSubmitted" class="invalid-feedback">
                                        <div *ngIf="isRequerido('ubigeo')">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-12">
                                <div class="form-group local-forms">
                                    <label>Direccion <span class="login-danger">*</span></label>
                                    <input formControlName="direccion" class="form-control" type="text"
                                        [ngClass]="{'is-invalid': isInvalid('direccion')}">
                                    <div *ngIf="isInvalid('direccion') || mostrarErrores" class="invalid-feedback">
                                        <div *ngIf="isRequerido('direccion')">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-12">
                        <div class="doctor-submit text-end">
                            <button type="submit" (click)="guardarSede()"
                                class="btn btn-primary submit-form me-2">Actualizar</button>
                            <button type="submit" (click)="Cancelar()"
                                class="btn btn-primary cancel-form">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>