<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-heading">
                                    <h4>Editar Apoderado</h4>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Nombre <span class="login-danger">*</span></label>
                                    <input formControlName="nombre" class="form-control" type="text" [ngClass]="{'is-invalid': isInvalid('nombre') || mostrarErrores}">
                                    <div *ngIf="isInvalid('nombre') || mostrarErrores" class="invalid-feedback">
                                        <div *ngIf="isRequerido('nombre')">Debe completar el campo*</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Dirección <span class="login-danger">*</span></label>
                                    <input formControlName="direccion" class="form-control" type="text" [ngClass]="{'is-invalid': isInvalid('direccion') || mostrarErrores}">
                                    <div *ngIf="isInvalid('direccion') || mostrarErrores" class="invalid-feedback">
                                        <div *ngIf="isRequerido('direccion')">Debe completar el campo*</div>
                                    </div>
                                </div>
                            </div>                            
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Tipo de Documento <span class="login-danger">*</span></label>
                                    <mat-select formControlName="tipoDocumento" class="form-control select" placeholder="Seleccionar Documento">
                                        <mat-option value="01">DNI</mat-option>
                                        <mat-option value="02">RUC</mat-option>
                                        <mat-option value="03">PASAPORTE</mat-option>
                                        <mat-option value="04">CARNET DE EXTRANJERIA</mat-option>
                                        <mat-option value="05">OTROS</mat-option>
                                    </mat-select>
                                    <div *ngIf="isInvalid('tipoDocumento') || mostrarErrores" class="invalid-feedback">
                                        <div *ngIf="isRequerido('tipoDocumento')">Debe seleccionar un tipo de documento*</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Nro. Documento <span class="login-danger">*</span></label>
                                    <input formControlName="documento" class="form-control" type="text" [attr.maxlength]="maxLengthDocumento" (keydown)="soloNumeros($event)" [ngClass]="{'is-invalid': isInvalid('documento') || mostrarErrores}">
                                    <div *ngIf="isInvalid('documento') || mostrarErrores" class="invalid-feedback">
                                        <div *ngIf="isRequerido('documento')">Debe completar el campo*</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Teléfono <span class="login-danger">*</span></label>
                                    <input formControlName="telefono" class="form-control" type="text" maxLength="9" (keydown)="soloNumeros($event)" [ngClass]="{'is-invalid': isInvalid('telefono') || mostrarErrores}">
                                    <div *ngIf="isInvalid('telefono') || mostrarErrores" class="invalid-feedback">
                                        <div *ngIf="isRequerido('telefono')">Debe completar el campo*</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Estado <span class="login-danger">*</span></label>
                                    <mat-select formControlName="estado" class="form-control select" placeholder="Seleccionar Estado">
                                        <mat-option value="Activo">Activo</mat-option>
                                        <mat-option value="Inactivo">Inactivo</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="doctor-submit text-end">
                                <button type="submit" (click)="guardarApoderado()" class="btn btn-primary submit-form me-2">Actualizar</button>
                                <button type="submit" (click)="Cancelar()" class="btn btn-primary cancel-form">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
