<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-heading">
                                    <h4>Nuevo Tipo de Documento</h4>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Tipo de comprobante<span class="login-danger">*</span></label>
                                    <select class="form-control form-select" formControlName="tipoComprobanteId" name="tipoComprobanteId">
                                        <option value= "" selected disabled>Seleccionar</option>
                                        <option value="01">Factura</option>
                                        <option value="03">Boleta</option>
                                        <option value="07">Nota de crédito</option>
                                        <option value="33">Nota de venta</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Estado <span class="login-danger">*</span></label>
                                    <mat-select class="form-control select" placeholder="Activo" [disabled]="true">
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Serie <span class="login-danger">*</span></label>
                                    <input formControlName="serie" class="form-control" type="text"
                                        [ngClass]="{'is-invalid': isInvalid('serie')}">
                                    <div *ngIf="isInvalid('serie') || mostrarErrores" class="invalid-feedback">
                                        <div *ngIf="isRequerido('serie')|| mostrarErrores">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Inicio <span class="login-danger">*</span></label>
                                    <input formControlName="inicio" class="form-control" type="number"
                                        [ngClass]="{'is-invalid': isInvalid('inicio')}">
                                    <div *ngIf="isInvalid('inicio') || mostrarErrores" class="invalid-feedback">
                                        <div *ngIf="isRequerido('inicio')|| mostrarErrores">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Fin <span class="login-danger">*</span></label>
                                    <input formControlName="fin" class="form-control" type="number"
                                        [ngClass]="{'is-invalid': isInvalid('fin')}">
                                    <div *ngIf="isInvalid('fin') || mostrarErrores" class="invalid-feedback">
                                        <div *ngIf="isRequerido('fin')|| mostrarErrores">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-xl-5">
                            <div class="form-group local-forms">
                                <label>Correlativo Actual <span class="login-danger">*</span></label>
                                <input formControlName="correlativoActual" class="form-control" type="number"
                                    [ngClass]="{'is-invalid': isInvalid('correlativoActual')}">
                                <div *ngIf="isInvalid('correlativoActual') || mostrarErrores" class="invalid-feedback">
                                    <div *ngIf="isRequerido('correlativoActual') || mostrarErrores">
                                        Debe completar el campo*
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                    <div class="col-12">
                        <div class="document-submit text-end">
                            <button type="submit" (click)="crearTipoDocumento()"
                                class="btn btn-primary submit-form me-2">Guardar</button>
                            <button type="submit" (click)="Cancelar()"
                                class="btn btn-primary cancel-form">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>