<div  class="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="form" class="row my-4">

          <div class="row">

              <div class="form-heading">
                <h4>Agregar Hallazgos</h4>
              </div>

              <!-- <div class="col-md-4">
                <div class="form-group local-forms">
                  <label>Hallazgo <span class="login-danger">*</span></label>
                  <input class="form-control" type="text" [disabled]="true">
                </div>
              </div> -->

              <div class="col-md-6">
                <div class="form-group local-forms">
                  <label>Hallazgo<span class="login-danger">*</span></label>
                  <mat-select
                       class="form-control select" placeholder="Seleccione un estado"
                       formControlName="hallazgoSigla" [ngClass]="{'is-invalid': isInvalid('hallazgoSigla') && isFormSubmitted}">
                       <mat-option *ngFor="let data of siglas$" [value]="data">
                        {{data}}
                       </mat-option>
                  </mat-select>
                  <div *ngIf="isInvalid('hallazgoSigla') && isFormSubmitted"
                                            class="invalid-feedback">
                                            <div *ngIf="isRequerido('hallazgoSigla')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group local-forms">
                  <label>N° de Diente <span class="login-danger">*</span></label>
                  <input formControlName="numeroDiente" class="form-control" type="text" >
                </div>
              </div>


              <!-- <div class="col-md-3">
                <div class="form-group local-forms">
                  <label>Siglas<span class="login-danger">*</span></label>
                  <input class="form-control" type="text" value="Siglas" [disabled]="true">
                </div>
              </div> -->
          </div>

          <div class="row d-flex flex-nowrap  align-items-center ">

            <div class="col-md-4">
              <canvas  #myCanvasModal width="150" height="150" ></canvas>
            </div>
            <div class="col-12 col-sm-12">
              <div class="profile-check-blk form-group">
                <!-- <div class="remember-me">
                  <label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> Todos
                  <input type="checkbox" name="checkboxPrincipal" [(ngModel)]="checkboxPrincipal" (change)="onCheckboxChange()">
                  <span class="checkmark"></span>
                  </label>
              </div> -->
                  <div class="remember-me " style="font-size: 13px;">
                      <label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> Vestibular
                      <input formControlName="checkboxVestibular" type="checkbox" name="checkboxVestibular" [(ngModel)]="checkboxVestibular" (change)="onCheckboxChange()">
                      <span class="checkmark"></span>
                      </label>
                  </div>
                  <div class="remember-me">
                      <label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> Palatino
                      <input formControlName="checkboxPalatino" type="checkbox" name="checkboxPalatino" [(ngModel)]="checkboxPalatino" (change)="onCheckboxChange()">
                      <span class="checkmark"></span>
                      </label>
                  </div>
                  <div class="remember-me">
                      <label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> Distal
                      <input formControlName="checkboxDistal" type="checkbox" name="checkboxDistal" [(ngModel)]="checkboxDistal" (change)="onCheckboxChange()">
                      <span class="checkmark"></span>
                      </label>
                  </div>
                  <div class="remember-me">
                    <label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> Mesial
                    <input formControlName="checkboxMesial" type="checkbox" name="checkboxMesial" [(ngModel)]="checkboxMesial" (change)="onCheckboxChange()">
                    <span class="checkmark"></span>
                    </label>
                </div>
                <div *ngIf="dientesOclusales.includes(numeroDiente$!)" class="remember-me">
                  <label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> Oclusal
                  <input formControlName="checkboxOclusal" type="checkbox" name="checkboxOclusal" [(ngModel)]="checkboxOclusal" (change)="onCheckboxChange()">
                  <span class="checkmark"></span>
                  </label>
              </div>
              </div>
          </div>
        </div>

          <div class="row">
            <div class="form-group col-md-12 local-forms">
              <label>Diagnostico - Especificaciones</label>
              <textarea
                  class="form-control" type="text"
                  [(ngModel)]="especificacion" formControlName="especificacion"></textarea>
          </div>
          </div>

        </form>

        <div class="col-12">
          <div class="doctor-submit text-end">
              <button type="submit"
                  class="btn btn-primary submit-form me-2" (click)="agregarHallazgo()">Guardar</button>
              <button type="submit"
                  class="btn btn-primary cancel-form" (click)="cancelar()">Cancelar</button>
          </div>
      </div>
          <!-- form cierre -->

        </div>
      </div>
    </div>
  </div>
</div>
