<div class="card">
  <div class="card-body">
    <div class="row" data-select2-id="46" style="align-items: baseline;">
      <div class="col-md-2">
        <div class="form-group local-forms">
          <label>Desde<span class="login-danger">*</span></label>
          <input  style='height:48px' class="form-control datetimepicker" type="text"
            placeholder="" matInput [matDatepicker]="pickerDesde">
          <mat-datepicker #pickerDesde matDatepickerFilter="DD/MM/YYYY"></mat-datepicker>
          <mat-datepicker-toggle matIconSuffix [for]="pickerDesde" matDatepickerFilter="DD/MM/YYYY"></mat-datepicker-toggle>

        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group local-forms">
          <label>Hasta<span class="login-danger">*</span></label>
          <input  style='height:48px' class="form-control datetimepicker" type="text"
            placeholder="" matInput [matDatepicker]="pickerHasta">
          <mat-datepicker #pickerHasta matDatepickerFilter="DD/MM/YYYY"></mat-datepicker>
          <mat-datepicker-toggle matIconSuffix [for]="pickerHasta" matDatepickerFilter="DD/MM/YYYY"></mat-datepicker-toggle>

        </div>
      </div>



      <div class="col-md-5">
        <div class="form-group local-forms">
          <label>Tipo Consentimiento<span class="login-danger">*</span></label>
          <mat-select  class="form-control select" placeholder="Seleccione un tipo consentimiento">
            <mat-option *ngFor="let data of consentimientoList" [value]="data">
              {{data}}
            </mat-option>
          </mat-select>

        </div>
      </div>

    <div class="col-md-3">
      <div class="doctor-search-blk">
                   <div class="form-heading" >
                     <button class="btn btn-primary submit-form me-2"><i class="fa-solid fa-plus" style="padding-right: 10px;"></i>Agregar</button>
                   </div>
               </div>
     </div>
    </div>


  </div>
</div>
