



              <div  class="doctor-personals-grp">
                  <div class="card">
                    <div *ngIf="isLoading" class="spinner-container">
                      <div class="custom-spinner"></div>
                    </div>
                      <div class="card-body" *ngIf="!isLoading">
                          <form (ngSubmit)="actualizarPaciente()" [formGroup]="form" class="row my-4">
                              <div class="col-12">
                                  <div class="form-heading">
                                      <h4>Datos del Paciente</h4>
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-4">
                                  <div class="form-group local-forms">
                                      <label>Nombres <span class="login-danger">*</span></label>
                                      <input
                                      [(ngModel)]="pacienteData!.nombres"
                                      formControlName="nombres"
                                      class="form-control" type="text"
                                      [ngClass]="{'is-invalid': isInvalid('nombres') && isFormSubmitted}" >
                                      <div *ngIf="isInvalid('nombres') && isFormSubmitted" class="invalid-feedback">
                                        <div *ngIf="isRequerido('nombres')">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-3">
                                  <div class="form-group local-forms">
                                      <label>Apellidos <span class="login-danger">*</span></label>
                                      <input
                                      [(ngModel)]="pacienteData!.apellidos"formControlName="apellidos" class="form-control" type="text" [ngClass]="{'is-invalid': isInvalid('apellidos') && isFormSubmitted}">
                                      <div *ngIf="isInvalid('apellidos') && isFormSubmitted" class="invalid-feedback">
                                        <div *ngIf="isRequerido('apellidos')">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-3">
                                <div class="form-group local-forms">
                                  <label>Fecha de Nacimiento <span class="login-danger">*</span></label>
                                  <input formControlName="fechaNacimiento" [(ngModel)]="pacienteData!.fechaNacimiento"
                                      style='height:48px' class="form-control datetimepicker" type="text"
                                      placeholder="" matInput [matDatepicker]="picker"
                                      [ngClass]="{'is-invalid': isInvalid('fechaNacimiento') && isFormSubmitted}"
                                      (ngModelChange)="actualizarEdad()">
                                  <mat-datepicker #picker matDatepickerFilter="DD/MM/YYYY"></mat-datepicker>
                                  <mat-datepicker-toggle matIconSuffix [for]="picker"
                                      matDatepickerFilter="DD/MM/YYYY"></mat-datepicker-toggle>
                                  <div *ngIf="isInvalid('fechaNacimiento') && isFormSubmitted"
                                      class="invalid-feedback">
                                      <div *ngIf="isRequerido('fechaNacimiento')">
                                          Debe completar el campo*
                                      </div>
                                      <div *ngIf="isFechaNacimientoMayorActual()">
                                          Fecha no valida*
                                      </div>
                                  </div>
                              </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-2">
                                <div class="form-group local-forms">
                                  <label class="gen-label">Edad <span class="login-danger">*</span></label>
                                  <input formControlName="edad" [(ngModel)]="pacienteData!.edad"
                                      class="form-control" type="text"
                                      [ngClass]="{'is-invalid': isInvalid('edad') && isFormSubmitted}">
                                  <div *ngIf="isInvalid('edad') && isFormSubmitted" class="invalid-feedback">
                                      <div *ngIf="isRequerido('edad')">
                                          Debe completar el campo*
                                      </div>
                                  </div>
                              </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-2">
                                  <div class="form-group local-forms">
                                      <label>Documento <span class="login-danger">*</span></label>
                                      <input formControlName="nroDocumento" class="form-control" >
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-4">
                                  <div class="form-group local-forms">
                                      <label>Direccion <span class="login-danger">*</span></label>
                                      <input
                                      [(ngModel)]="pacienteData!.direccion"
                                      formControlName="direccion" class="form-control"  [ngClass]="{'is-invalid': isInvalid('direccion') && isFormSubmitted}">
                                      <div *ngIf="isInvalid('direccion') && isFormSubmitted" class="invalid-feedback">
                                        <div *ngIf="isRequerido('direccion')">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="col-6 col-md-6 col-xl-4">
                                  <div class="form-group select-gender">
                                      <label class="gen-label">Sexo<span class="login-danger">*</span></label>
                                      <div *ngFor="let item of sexo_LISTA; let i = index" class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" [value]="item.value" formControlName="sexo"

                                                class="form-check-input" name="sexo" [id]="item.value"
                                                [ngClass]="{'is-invalid': isInvalid('sexo') && isFormSubmitted}">{{item.name}}
                                        </label>
                                    </div>
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-2">
                                  <div class="form-group local-forms">
                                      <label>Estado Civil <span class="login-danger">*</span></label>
                                      <mat-select
                                      [(ngModel)]="pacienteData!.estadoCivilId"
                                      formControlName="estadoCivil"
                                           class="form-control select"
                                          placeholder="Seleccione Estado Civil"
                                          [ngClass]="{'is-invalid': isInvalid('estadoCivil') && isFormSubmitted}">
                                          <mat-option *ngFor="let data of estadosCiviles" [value]="data.siglas">
                                              {{data.descripcion}}
                                          </mat-option>
                                      </mat-select>
                                      <div *ngIf="isInvalid('estadoCivil') && isFormSubmitted"
                                            class="invalid-feedback">
                                            <div *ngIf="isRequerido('estadoCivil')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-3">
                                  <div class="form-group local-forms">
                                      <label>Ocupacion </label>
                                      <input
                                      [(ngModel)]="pacienteData!.ocupacion"
                                      formControlName="ocupacion" class="form-control" type="text"   [ngClass]="{'is-invalid': isInvalid('ocupacion') && isFormSubmitted}">
                                      <div *ngIf="isInvalid('ocupacion') && isFormSubmitted" class="invalid-feedback">
                                        <div *ngIf="isRequerido('ocupacion')">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-3">
                                  <div class="form-group local-forms">
                                      <label>Grado de instruccion <span class="login-danger">*</span></label>
                                      <mat-select
                                      [(ngModel)]="pacienteData!.estudioId"
                                      formControlName="estudioId"
                                          class="form-control select" placeholder="Seleccione Grado de Instruccion"
                                          [ngClass]="{'is-invalid': isInvalid('estudioId') && isFormSubmitted}">
                                          <mat-option *ngFor="let data of gradosInstruccion" [value]="data.estudioId">
                                              {{data.descripcion}}
                                          </mat-option>
                                      </mat-select>
                                      <div *ngIf="isInvalid('estudioId') && isFormSubmitted" class="invalid-feedback">
                                        <div *ngIf="isRequerido('estudioId')">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-2">
                                  <div class="form-group local-forms">
                                      <label>Celular <span class="login-danger">*</span></label>
                                      <input
                                      (input)="soloNumeros($event)"
                                      [(ngModel)]="pacienteData!.celular"
                                      formControlName="celular" class="form-control" type="text" [ngClass]="{'is-invalid': isInvalid('celular') && isFormSubmitted}"
                                      pattern="[0-9]*" maxlength="9">
                                      <div *ngIf="isInvalid('celular') && isFormSubmitted" class="invalid-feedback">
                                        <div *ngIf="isRequerido('celular')">
                                            Debe completar el campo*
                                        </div>
                                        <div *ngIf="isCantidadExacta('celular')">
                                          Debe ingresar un número Válido: 9*
                                        </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-4">
                                  <div class="form-group local-forms">
                                      <label>Correo </label>
                                      <input
                                      [(ngModel)]="pacienteData!.email"
                                      formControlName="email" class="form-control" type="email"  [ngClass]="{'is-invalid': isInvalid('email') && isFormSubmitted}">
                                      <div *ngIf="isInvalid('email') && isFormSubmitted" class="invalid-feedback">

                                        <div *ngIf="isEmail('email')">
                                            Debe ingresar un correo*
                                        </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-3">
                                  <div class="form-group local-forms">
                                      <label>Pais <span class="login-danger">*</span></label>
                                      <mat-select
                                      [(ngModel)]="pacienteData!.paisId"
                                      formControlName="paisId"
                                          class="form-control select" placeholder="Seleccione País"
                                          [ngClass]="{'is-invalid': isInvalid('paisId') && isFormSubmitted}">
                                          <mat-option *ngFor="let data of paises" [value]="data.paisId">
                                              {{data.nombre}}
                                          </mat-option>
                                      </mat-select>
                                      <div *ngIf="isInvalid('paisId') && isFormSubmitted" class="invalid-feedback">
                                        <div *ngIf="isRequerido('paisId')">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-3">
                                  <div class="form-group local-forms">
                                      <label>Departamento <span class="login-danger">*</span></label>
                                      <mat-select
                                      formControlName="departamentoId"
                                          class="form-control select" placeholder="Seleccione Departamento"
                                          [ngClass]="{'is-invalid': isInvalid('departamentoId') && isFormSubmitted}"
                                          (ngModelChange)="actualizarProvincias()">
                                          <mat-option *ngFor="let data of departamentos" [value]="data.departamentoId">
                                              {{data.nombre}}
                                          </mat-option>
                                      </mat-select>
                                      <div *ngIf="isInvalid('departamentoId') && isFormSubmitted"
                                      class="invalid-feedback">
                                      <div *ngIf="isRequerido('departamentoId')">
                                          Debe completar el campo*
                                      </div>
                                  </div>
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-3">
                                  <div class="form-group local-forms">
                                      <label>Provincia <span class="login-danger">*</span></label>
                                      <mat-select formControlName="provinciaId"
                                          class="form-control select" placeholder="Seleccione Provincia"
                                          [ngClass]="{'is-invalid': isInvalid('provinciaId') && isFormSubmitted}"
                                          (ngModelChange)="actualizarDistritos()">
                                          <mat-option *ngFor="let data of provincias" [value]="data.provinciaId">
                                              {{data.nombre}}
                                          </mat-option>
                                      </mat-select>
                                      <div *ngIf="isInvalid('provinciaId') && isFormSubmitted" class="invalid-feedback">
                                        <div *ngIf="isRequerido('provinciaId')">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-3">
                                  <div class="form-group local-forms">
                                      <label>Distrito <span class="login-danger">*</span></label>
                                      <mat-select
                                      formControlName="ubigeo"
                                          class="form-control select" placeholder="Seleccione Distrito"
                                          [ngClass]="{'is-invalid': isInvalid('ubigeo') && isFormSubmitted}">
                                          <mat-option *ngFor="let data of distritos" [value]="data.distritoId">
                                              {{data.nombre}}
                                          </mat-option>
                                      </mat-select>
                                      <div *ngIf="isInvalid('ubigeo') && isFormSubmitted" class="invalid-feedback">
                                        <div *ngIf="isRequerido('ubigeo')">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-3">
                                  <div class="form-group local-forms">
                                      <label>En caso de emergencia llamar a </label>
                                      <input
                                      [(ngModel)]="pacienteData!.contactoEmergencia"
                                      formControlName="contactoEmergencia" class="form-control" type="text">
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-3">
                                  <div class="form-group local-forms">
                                      <label>Parentesco </label>
                                      <input
                                      [(ngModel)]="pacienteData!.tipoParentesco"
                                      formControlName="tipoParentesco"
                                      class="form-control" type="text">
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-3">
                                  <div class="form-group local-forms">
                                      <label>Domicilio </label>
                                      <input
                                      [(ngModel)]="pacienteData!.domicilioParentesco"
                                      formControlName="domicilioParentesco" class="form-control" type="text">
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-3">
                                  <div class="form-group local-forms">
                                      <label>Celular Contacto </label>
                                      <input
                                      [(ngModel)]="pacienteData!.telefonoParentesco"
                                      (input)="soloNumeros($event)"
                                      formControlName="telefonoParentesco" class="form-control" type="text" pattern="[0-9]*" maxlength="9" [ngClass]="{'is-invalid': isInvalid('telefonoParentesco') && isFormSubmitted}">
                                      <div *ngIf="isInvalid('telefonoParentesco') && isFormSubmitted" class="invalid-feedback">
                                        <div *ngIf="isCantidadExacta('telefonoParentesco')">
                                            Debe ingresar un número Válido: 9*
                                        </div>
                                    </div>

                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-6">
                                  <div class="form-group local-forms">
                                      <label>Referido por</label>
                                      <input
                                      formControlName="tipoParentesco" class="form-control custom-input-height" type="text">
                                  </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-6 ">
                                  <div class="form-group local-forms">
                                      <label>Observacion </label>
                                      <input
                                      [(ngModel)]="pacienteData!.observacion"
                                      formControlName="observacion" class="form-control custom-input-height" type="text">
                                  </div>
                              </div>
                              <div class="doctor-submit  text-end ">
                                <button  class="btn btn-primary submit-form me-2">Guardar</button>
                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="col-12">
                        <div class="form-heading">
                            <h4>Historial de Citas</h4>
                        </div>
                    </div>
                      <div class="table-responsive">
                        <!-- <h5>Mostrar --- Registros</h5> -->
                        <table class="table border-0 custom-table comman-table datatable mb-0">
                          <thead>
                            <tr>

                                <th >N° Cita</th>
                                <th >Fecha Cita</th>
                                <!-- <th mat-sort-header="specialization">Especializacion</th> -->
                                <th>Especialidad</th>
                                <th>Medico</th>
                                <th >Motivo</th>
                                <th >Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of citasListPaciente let i = index">

                              <td>{{serialNumberArray[i]}}</td>
                              <!-- <td>{{ data.citaMedicaId }}</td> -->
                              <td>{{formatoFecha(data.fecha)}}</td>
                              <td>{{data.nombreEspecialidad}}</td>
                              <td>{{data.nombreMedico}}</td>
                              <td>{{data.motivoConsulta}}</td>
                              <td><button [ngClass]="getEstadoInfo(data.estado).clase">{{getEstadoInfo(data.estado).nombre}}</button></td>


                          </tr>
                      </tbody>
                        </table>
                        <div class="table_footer">
                          <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info">
                              Mostrando {{ serialNumberArray[0] }} a
                              {{ serialNumberArray
                              [serialNumberArray.length - 1] }} de
                  {{ totalData }} entradas
                            </div>
                          </div>

                          <div class="col-sm-12 col-md-7">
                            <div class="pagination_section">
                              <ul class="pagination">
                                <li class="page-item" [ngClass]="{
                                                    disabled: currentPage === 1
                                                  }">
                                  <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);"
                                    tabindex="-1">Previous</a>
                                </li>

                                <ng-container *ngFor="let item of pageNumberArray; let i = index">
                                  <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                                                      (pageNumberArray[currentPage - 2] > item &&
                                                        item !== 1 &&
                                                        pageNumberArray.length > 6) ||
                                                      (pageNumberArray[currentPage] < item &&
                                                        item !== 1 &&
                                                        pageNumberArray.length > 6 &&
                                                        pageNumberArray.length !== item)
                                                        ? 'hide-page-no'
                                                        : 'show-page-no'
                                                    ">
                                    <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                                      {{ item }}
                                    </a>
                                  </li>
                                  <li class="page-item" *ngIf="
                                                      i === 0 &&
                                                      pageNumberArray.length > 6 &&
                                                      currentPage > 2
                                                    " [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)">
                                    <a class="page-link" href="javascript:void(0);">
                                      ...
                                    </a>
                                  </li>
                                  <li *ngIf="
                                                      i === pageNumberArray.length - 2 &&
                                                      pageNumberArray.length > 6
                                                    " [hidden]="
                                                      currentPage >=
                                                        pageNumberArray[pageNumberArray.length - 2] ||
                                                      totalData <
                                                        serialNumberArray[serialNumberArray.length - 1]
                                                    " class="page-item" (click)="moveToPage(currentPage + 2)">
                                    <a class="page-link" href="javascript:void(0);">
                                      ...
                                    </a>
                                  </li>
                                </ng-container>

                                <li class="page-item" [ngClass]="{
                                                    disabled:
                                                      currentPage ===
                                                        pageNumberArray[pageNumberArray.length - 1] ||
                                                        citasList.length === 0
                                                  }">
                                  <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);">Next
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                </div>
              </div>

