

<div class="settings-menu-links">
  <ul class="nav nav-tabs menu-tabs" style="margin-bottom: 0px;">
      <li class="nav-item" [routerLinkActive]="['active']" >
          <a class="nav-link"  [routerLink]="['./antecedentes',pacienteId]">Antecedentes</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" >
          <a  class="nav-link" [routerLink]="['./consulta-salud',pacienteId]" >Consulta de salud</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" >
          <a  class="nav-link"  [routerLink]="['./exploracion-fisica',pacienteId]">Exploracion Fisica</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" >
          <a class="nav-link"  [routerLink]="['./alergia',pacienteId]">Alergia</a>
      </li>
  </ul>
</div>

<div class="pt-3">
  <router-outlet></router-outlet>
</div>

