<div  class="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
<!-- form -->
<form [formGroup]="form" class="row my-4">

          <div class="row">

              <div class="form-heading">
                <h4>Agregar Hallazgos</h4>
              </div>

              <div class="col-md-6">
                <div class="form-group local-forms">
                  <label>Hallazgo <span class="login-danger">*</span></label>
                  <input formControlName="hallazgoNombre" class="form-control" type="text" [disabled]="true">
                </div>
              </div>

              <div class="col-md-3 ">
                <div class="form-group local-forms">
                  <label>Sigla<span class="login-danger">*</span></label>
                  <input formControlName="siglaHallazgo" class="form-control" type="text" [disabled]="true">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group local-forms">
                  <label>N° de Diente <span class="login-danger">*</span></label>
                  <input formControlName="numeroDiente" class="form-control" type="text">
                </div>
              </div>

          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label>Diagnostico - Especificaciones</label>
              <textarea
                  class="form-control" type="text"
                  formControlName="especificacion"
                  ></textarea>
          </div>
          </div>
        </form>

          <!-- form cierre -->
          <div class="col-12">
            <div class="doctor-submit text-end">
                <button type="submit"
                    class="btn btn-primary submit-form me-2" (click)="agregarHallazgo()">Guardar</button>
                <button type="submit"
                    class="btn btn-primary cancel-form" (click)="cancelar()">Cancelar</button>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>


