<div class="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
<!-- form -->
          <div class="row">

              <div class="form-heading">
                <h4>Agregar Hallazgos</h4>
              </div>

              <div class="col-md-6">
                <div class="form-group local-forms">
                  <label>Hallazgo <span class="login-danger">*</span></label>
                  <input class="form-control" type="text" [disabled]="true">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group local-forms">
                  <label>N° de Diente <span class="login-danger">*</span></label>
                  <input class="form-control" type="text" [(ngModel)]="numeroDiente$" [disabled]="true">
                </div>
              </div>

          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label>Diagnostico - Especificaciones</label>
              <textarea
                  class="form-control" type="text"
                  ></textarea>
          </div>
          </div>
          <!-- form cierre -->
          <div class="col-12">
            <div class="doctor-submit text-end">
                <button type="submit"
                    class="btn btn-primary submit-form me-2" >Guardar</button>
                <button type="submit"
                    class="btn btn-primary cancel-form">Cancelar</button>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
