.busqueda {
    margin-top: 30px;
}

.custom-modal-dialog {
    max-width: 50%;
    width: auto;
}

.invisible-component {
    display: block;

    .modal-content {
        border: none;
    }
}

.cita {
    color: #2e37a4;
    font-size: 15px;
    font-weight: 400;
}

.para {
    color: #00d3c7;
    margin-left: 10px;
}


.modal-footer {
    padding: 3px;
}

.whatsapp {
    background-color: green;
    border-color: green;
    margin-left: 10px;
    margin-right: 5px;

    :hover {
        background-color: greenyellow;
        border-color: greenyellow;
        cursor: pointer;
    }
}

.historia {
    background-color: orange;
    border-color: orange;
    margin-left: 5px;
    margin-right: 5px;

    :hover {
        background-color: yellow;
        border-color: yellow;
        cursor: pointer;
    }
}

.clonar {
    background-color: goldenrod;
    border-color: goldenrod;
    margin-left: 5px;
    margin-right: 10px;

    :hover {
        background-color: orange;
        border-color: orange;
        cursor: pointer;
    }
}

.fecha {
    width: 140px;
}

.hora {
    margin-left: -5px;
    width: 105px;
}

.icono {
    margin-left: -10px;
}