<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.citas">Citas</a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Calendario de Citas</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row mb-3 mt-3">
                    <div class="col-lg-3">
                        <div class="form-group local-forms">
                            <label for="buscarPor">Especialidad</label>
                            <mat-select [(ngModel)]="especialidadSeleccionada" (ngModelChange)="actualizarMedicos()" class="form-control select">
                                <mat-option value="TODOS"> TODOS </mat-option>
                                <mat-option *ngFor="let especialidad of listEspecialidades"
                                    [value]="especialidad.especialidadId">
                                    {{especialidad.nombre}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group local-forms">
                            <label for="buscarPor">Estado</label>
                            <mat-select [(ngModel)]="estadoSeleccionado" class="form-control select">
                                <mat-option value="TODOS"> TODOS </mat-option>
                                <mat-option *ngFor="let estado of listEstados" [value]="estado.tipoCitadoId">
                                    {{estado.nombre}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group local-forms">
                            <label for="buscarPor">Paciente</label>
                            <mat-select [(ngModel)]="pacienteleccionado" class="form-control select"
                                placeholder="Seleccione un Paciente">
                                <input type="text" class="form-control buscar" autocomplete="off" #multiUserSearch
                                    matInput placeholder="Ingrese Apellidos o Nombres" (input)="buscarPacientes()">
                                <mat-option [value]=null> TODOS </mat-option>
                                <mat-option *ngFor="let paciente of listPacientes" [value]="paciente.pacienteId">
                                    {{paciente.nombres}} {{paciente.apellidos}}
                                </mat-option>
                            </mat-select>

                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group busqueda">
                            <button class="btn btn-primary submit-form me-2" [disabled]="!pacienteleccionado"
                                [routerLink]="[routes.HistoriaPaciente, pacienteleccionado]">Ir
                                Historia</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <h5>Buscar medico:</h5>
                        <ul>
                            <li *ngFor="let medico of listMedicos">
                                <input class="form-check-input" type="checkbox" [id]="medico.medicoId"
                                    [style.background]="medico.color"
                                    [(ngModel)]=" medicosSeleccionados[medico.medicoId]" (change)="filtrarCitas()"/>
                                <label [for]="medico.medicoId">{{ medico.nombre }} {{ medico.apellido }}</label>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-10">
                        <div class="card-box mb-0">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="full-cal" id="calendar">
                                        <!-- Incorpora el componente FullCalendar aquí -->
                                        <full-calendar [options]="options" [events]="events"></full-calendar>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>