.busqueda {
    margin-top: 5px;
}

.custom-modal-dialog {
    max-width: 50%;
    width: auto;
}

.buscar {
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.clear-icon {
    cursor: pointer;
    color: #888;
}

.clear-icon:hover {
    color: #f00;
}


.label-medico {
    padding-top: 4px;
    padding-bottom: 2px;
}

.medico-item {
    margin-right: 10px;
}

.badge {
    display: flex;
    align-items: center;
    padding: 0.75em;
    border-radius: 1em;
    color: #fff;
    background-color: blue;
}

.medico-item input {
    margin-right: 5px;
}

.medico-container {
    display: flex;
    flex-wrap: wrap;
}