<div class="content">
    <!-- /Page Header -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-heading">
                                    <h4>Editar Categoria</h4>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-12">
                                <div class="form-group local-forms">
                                    <label>Descripcion <span class="login-danger">*</span></label>
                                    <input formControlName="descripcion" [(ngModel)]="categoriaSeleccionada"
                                        class="form-control" type="text"
                                        [ngClass]="{'is-invalid': isInvalid('descripcion')}">
                                    <div *ngIf="isInvalid('descripcion') || mostrarErrores" class="invalid-feedback">
                                        <div *ngIf="isRequerido('descripcion')">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-12">
                                <div class="form-group local-forms">
                                    <label>Estado <span class="login-danger">*</span></label>
                                    <mat-select class="form-control select" placeholder="Activo" [disabled]="true">
                                    </mat-select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-12">
                        <div class="doctor-submit text-end">
                            <button type="submit" (click)="guardarCategoria()"
                                class="btn btn-primary submit-form me-2">Actualizar</button>
                            <button type="submit" (click)="Cancelar()"
                                class="btn btn-primary cancel-form">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>