.input-group {
    position: relative;
}

.icon-outside {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    z-index: 2;
}
.form-control {
    flex: 1;
    margin-right: 22.5px; /* Ajusta el espacio a la derecha del campo de entrada */
}
.input-group {
    position: relative;
}
