<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-heading">
                                    <h4>Nuevo Almacen</h4>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-12">
                                <div class="form-group local-forms">
                                    <label>Nombre del Almacen <span class="login-danger">*</span></label>
                                    <input formControlName="nombreAlmacen" class="form-control" type="text"
                                        [ngClass]="{'is-invalid': isInvalid('nombreAlmacen')}">
                                    <div *ngIf="isInvalid('nombreAlmacen') || mostrarErrores" class="invalid-feedback">
                                        <div *ngIf="isRequerido('nombreAlmacen') || mostrarErrores">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="col-12 col-md-12 col-xl-6">
                            <div class="form-group local-forms">
                                <label>Sedes <span class="login-danger">*</span></label>
                                <mat-select formControlName="sedes" class="form-control select"
                                    placeholder="Seleccione Sede"
                                    [ngClass]="{'is-invalid': isInvalid('sedes') && isFormSubmitted}">
                                    <mat-option *ngFor="let data of sede_LISTA" [value]="data.sedeId">
                                        {{data.nombre}}
                                    </mat-option>
                                </mat-select>
                                <div *ngIf="isInvalid('sedes') && isFormSubmitted" class="invalid-feedback">
                                    <div *ngIf="isRequerido('sedes')">
                                        Debe completar el campo*
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Estado <span class="login-danger">*</span></label>
                                    <mat-select class="form-control select" placeholder="Activo" [disabled]="true">
                                    </mat-select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-12">
                        <div class="doctor-submit text-end">
                            <button type="submit" (click)="crearAlmacen()"
                                class="btn btn-primary submit-form me-2">Guardar</button>
                            <button type="submit" (click)="Cancelar()"
                                class="btn btn-primary cancel-form">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

