<div class="content">
    <!-- Page Header -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-heading">
                                    <h4>Editar Tipo de Pago</h4>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Método de Pago <span class="login-danger">*</span></label>
                                    <mat-select formControlName="metodoPago" class="form-control select" placeholder="Seleccionar Metodo">
                                        <mat-option value="Efectivo">Efectivo</mat-option>
                                        <mat-option value="Tarjeta">Tarjeta</mat-option>
                                        <mat-option value="Transferencia">Transferencia</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Estado <span class="login-danger">*</span></label>
                                    <mat-select formControlName="estado" class="form-control select">
                                        <mat-option value="Activo">Activo</mat-option>
                                        <mat-option value="Inactivo">Inactivo</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-12">
                                <div class="form-group local-forms">
                                    <label>Descripción <span class="login-danger">*</span></label>
                                    <input formControlName="descripcion"
                                        class="form-control" type="text"
                                        [ngClass]="{'is-invalid': isInvalid('descripcion')}"(keydown)="soloLetras($event)" maxlength="30">
                                    <div *ngIf="isInvalid('descripcion') || mostrarErrores" class="invalid-feedback">
                                        <div *ngIf="isRequerido('descripcion')">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                    <div class="col-12">
                        <div class="doctor-submit text-end">
                            <button type="submit" (click)="guardarTipoPago()"
                                class="btn btn-primary submit-form me-2">Actualizar</button>
                            <button type="submit" (click)="Cancelar()"
                                class="btn btn-primary cancel-form">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

