
<div class="card">
  <div class="card-body">
    <div class="col-12">
      <div class="form-heading">
        <h4>Galería de Imágenes/archivos | Placa</h4>
    </div>
      <div class="form-heading">
        <button   class="btn btn-primary submit-form me-2"><i class="fa-solid fa-plus" style="padding-right: 10px;"></i>Agregar</button>
        <button   class="btn btn-primary submit-form me-2" (click)="navegarAImagenes()"><img src="assets/img/icons/back-icon.svg" alt="img-icon">Volver</button>
      </div>
  </div>
  </div>
</div>

