<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.registroPac">Pacientes</a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Editar Paciente</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="form">
                            <div *ngIf="pacienteEditar" class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Datos del Paciente</h4>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Tipo de Documento <span class="login-danger">*</span></label>
                                        <input (input)="soloNumeros($event)" placeholder="{{tipoDocumento}}"
                                            class="form-control" type="text" [disabled]="true">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Nro. Documento <span class="login-danger">*</span></label>
                                        <input placeholder="{{nroDocumento}}" class="form-control" type="text"
                                            [disabled]="true">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Nombres <span class="login-danger">*</span></label>
                                        <input formControlName="nombres" [(ngModel)]="pacienteEditar.nombres"
                                            class="form-control" type="text"
                                            [ngClass]="{'is-invalid': isInvalid('nombres') && isFormSubmitted}">
                                        <div *ngIf="isInvalid('nombres') && isFormSubmitted" class="invalid-feedback">
                                            <div *ngIf="isRequerido('nombres')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Apellidos <span class="login-danger">*</span></label>
                                        <input formControlName="apellidos" [(ngModel)]="pacienteEditar!.apellidos"
                                            class="form-control" type="text"
                                            [ngClass]="{'is-invalid': isInvalid('apellidos') && isFormSubmitted}">
                                        <div *ngIf="isInvalid('apellidos') && isFormSubmitted" class="invalid-feedback">
                                            <div *ngIf="isRequerido('apellidos')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Nombre Contacto <span class="login-danger"></span></label>
                                        <input formControlName="nombreContacto"
                                            [(ngModel)]="pacienteEditar!.contactoEmergencia" class="form-control"
                                            type="email"
                                            [ngClass]="{'is-invalid': isInvalid('nombreContacto') && isFormSubmitted}">
                                        <div *ngIf="isInvalid('nombreContacto') && isFormSubmitted"
                                            class="invalid-feedback">
                                            <div *ngIf="isRequerido('nombreContacto')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Dirección <span class="login-danger">*</span></label>
                                        <input formControlName="direccion" [(ngModel)]="pacienteEditar!.direccion"
                                            class="form-control"
                                            [ngClass]="{'is-invalid': isInvalid('direccion') && isFormSubmitted}">
                                        <div *ngIf="isInvalid('direccion') && isFormSubmitted" class="invalid-feedback">
                                            <div *ngIf="isRequerido('direccion')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Correo<span class="login-danger"></span></label>
                                        <input formControlName="email" [(ngModel)]="pacienteEditar!.email"
                                            class="form-control" type="email"
                                            [ngClass]="{'is-invalid': isInvalid('email') && isFormSubmitted}">
                                        <div *ngIf="isInvalid('email') && isFormSubmitted" class="invalid-feedback">
                                            <div *ngIf="isRequerido('email')">
                                                Debe completar el campo*
                                            </div>
                                            <div *ngIf="isEmail('email')">
                                                Debe ingresar un correo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-2">
                                    <div class="form-group local-forms">
                                        <label>Celular <span class="login-danger">*</span></label>
                                        <input (input)="soloNumeros($event)" formControlName="celular"
                                            [(ngModel)]="pacienteEditar!.celular" class="form-control" type="text"
                                            [ngClass]="{'is-invalid': isInvalid('celular') && isFormSubmitted}"
                                            pattern="[0-9]*" maxlength="9">
                                        <div *ngIf="isInvalid('celular') && isFormSubmitted" class="invalid-feedback">
                                            <div *ngIf="isRequerido('celular')">
                                                Debe completar el campo*
                                            </div>
                                            <div *ngIf="isCantidadExacta('celular')">
                                                Debe ingresar la cantidad correcta: 9*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Grado de Instruccion <span class="login-danger">*</span></label>
                                        <mat-select formControlName="estudioId" [(ngModel)]="pacienteEditar!.estudioId"
                                            class="form-control select" placeholder="Seleccione Grado de Instruccion"
                                            [ngClass]="{'is-invalid': isInvalid('estudioId') && isFormSubmitted}">
                                            <mat-option *ngFor="let data of gradosInstruccion" [value]="data.estudioId">
                                                {{data.descripcion}}
                                            </mat-option>
                                        </mat-select>
                                        <div *ngIf="isInvalid('estudioId') && isFormSubmitted" class="invalid-feedback">
                                            <div *ngIf="isRequerido('estudioId')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-2">
                                    <div class="form-group local-forms">
                                        <label>Estado Civil <span class="login-danger">*</span></label>
                                        <mat-select formControlName="estadoCivil"
                                            [(ngModel)]="pacienteEditar!.estadoCivilId" class="form-control select"
                                            placeholder="Seleccione Estado Civil"
                                            [ngClass]="{'is-invalid': isInvalid('estadoCivil') && isFormSubmitted}">
                                            <mat-option *ngFor="let data of estadosCiviles" [value]="data.siglas">
                                                {{data.descripcion}}
                                            </mat-option>
                                        </mat-select>
                                        <div *ngIf="isInvalid('estadoCivil') && isFormSubmitted"
                                            class="invalid-feedback">
                                            <div *ngIf="isRequerido('estadoCivil')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Fecha de Nacimiento <span class="login-danger">*</span></label>
                                        <input formControlName="fechaNacimiento" [(ngModel)]="pacienteEditar!.fechaNacimiento"
                                            style='height:48px' class="form-control datetimepicker" type="text"
                                            placeholder="" matInput [matDatepicker]="picker"
                                            [ngClass]="{'is-invalid': isInvalid('fechaNacimiento') && isFormSubmitted}"
                                            (ngModelChange)="actualizarEdad()">
                                        <mat-datepicker #picker matDatepickerFilter="DD/MM/YYYY"></mat-datepicker>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"
                                            matDatepickerFilter="DD/MM/YYYY"></mat-datepicker-toggle>
                                        <div *ngIf="isInvalid('fechaNacimiento') && isFormSubmitted"
                                            class="invalid-feedback">
                                            <div *ngIf="isRequerido('fechaNacimiento')">
                                                Debe completar el campo*
                                            </div>
                                            <div *ngIf="isFechaNacimientoMayorActual()">
                                                Fecha no valida*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-2">
                                    <div class="form-group local-forms">
                                        <label class="gen-label">Edad <span class="login-danger">*</span></label>
                                        <input formControlName="edad" [(ngModel)]="pacienteEditar!.edad"
                                            class="form-control" type="text"
                                            [ngClass]="{'is-invalid': isInvalid('edad') && isFormSubmitted}">
                                        <div *ngIf="isInvalid('edad') && isFormSubmitted" class="invalid-feedback">
                                            <div *ngIf="isRequerido('edad')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-2">
                                    <div class="form-group select-gender">
                                        <label class="gen-label">Sexo<span class="login-danger">*</span></label>
                                        <div *ngFor="let item of sexo_LISTA; let i = index" class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" [value]="item.value" formControlName="sexo"
                                                    class="form-check-input" name="sexo" [id]="item.value"
                                                    [(ngModel)]="sexoPaciente"
                                                    [ngClass]="{'is-invalid': isInvalid('sexo') && isFormSubmitted}">{{item.name}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Titulo <span class="login-danger"></span></label>
                                        <input formControlName="titulo" [(ngModel)]="pacienteEditar!.titulo"
                                            class="form-control" type="text"
                                            [ngClass]="{'is-invalid': isInvalid('titulo') && isFormSubmitted}">
                                        <div *ngIf="isInvalid('titulo') && isFormSubmitted" class="invalid-feedback">
                                            <div *ngIf="isRequerido('titulo')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-2">
                                    <div class="form-group local-forms">
                                        <label>Pais<span class="login-danger">*</span></label>
                                        <mat-select formControlName="paisId" [(ngModel)]="pacienteEditar!.paisId"
                                            class="form-control select" placeholder="Seleccione País"
                                            [ngClass]="{'is-invalid': isInvalid('paisId') && isFormSubmitted}">
                                            <mat-option *ngFor="let data of paises" [value]="data.paisId">
                                                {{data.nombre}}
                                            </mat-option>
                                        </mat-select>
                                        <div *ngIf="isInvalid('paisId') && isFormSubmitted" class="invalid-feedback">
                                            <div *ngIf="isRequerido('paisId')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-2">
                                    <div class="form-group local-forms">
                                        <label>Departamento<span class="login-danger">*</span></label>
                                        <mat-select formControlName="departamento" [(ngModel)]="departamento"
                                            class="form-control select" placeholder="Seleccione Departamento"
                                            [ngClass]="{'is-invalid': isInvalid('departamento') && isFormSubmitted}"
                                            (ngModelChange)="actualizarProvincias()">
                                            <mat-option *ngFor="let data of departamentos" [value]="data.nombre">
                                                {{data.nombre}}
                                            </mat-option>
                                        </mat-select>
                                        <div *ngIf="isInvalid('departamento') && isFormSubmitted"
                                            class="invalid-feedback">
                                            <div *ngIf="isRequerido('departamento')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-2">
                                    <div class="form-group local-forms">
                                        <label>Provincia <span class="login-danger">*</span></label>
                                        <mat-select formControlName="provincia" [(ngModel)]="provincia"
                                            class="form-control select" placeholder="Seleccione Provincia"
                                            [ngClass]="{'is-invalid': isInvalid('provincia') && isFormSubmitted}"
                                            (ngModelChange)="actualizarDistritos()">
                                            <mat-option *ngFor="let data of provincias" [value]="data.nombre">
                                                {{data.nombre}}
                                            </mat-option>
                                        </mat-select>
                                        <div *ngIf="isInvalid('provincia') && isFormSubmitted" class="invalid-feedback">
                                            <div *ngIf="isRequerido('provincia')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-2">
                                    <div class="form-group local-forms">
                                        <label>Distrito<span class="login-danger">*</span></label>
                                        <mat-select formControlName="ubigeo" [(ngModel)]="pacienteEditar!.ubigeo"
                                            class="form-control select" placeholder="Seleccione Distrito"
                                            [ngClass]="{'is-invalid': isInvalid('ubigeo') && isFormSubmitted}">
                                            <mat-option *ngFor="let data of distritos" [value]="data.distritoId">
                                                {{data.nombre}}
                                            </mat-option>
                                        </mat-select>
                                        <div *ngIf="isInvalid('ubigeo') && isFormSubmitted" class="invalid-feedback">
                                            <div *ngIf="isRequerido('ubigeo')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Ocupacion <span class="login-danger"></span></label>
                                        <input formControlName="ocupacion" [(ngModel)]="pacienteEditar!.ocupacion"
                                            class="form-control"
                                            [ngClass]="{'is-invalid': isInvalid('ocupacion') && isFormSubmitted}">
                                        <div *ngIf="isInvalid('ocupacion') && isFormSubmitted" class="invalid-feedback">
                                            <div *ngIf="isRequerido('ocupacion')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Tipo Paciente <span class="login-danger">*</span></label>
                                        <mat-select formControlName="tipoPacienteId"
                                            [(ngModel)]="pacienteEditar!.tipoPacienteId" class="form-control select"
                                            placeholder="Seleccione Tipo Paciente"
                                            [ngClass]="{'is-invalid': isInvalid('tipoPacienteId') && isFormSubmitted}">
                                            <mat-option *ngFor="let data of tiposPacientes"
                                                [value]="data.tipoPacienteId">
                                                {{data.nombre}}
                                            </mat-option>
                                        </mat-select>
                                        <div *ngIf="isInvalid('tipoPacienteId') && isFormSubmitted"
                                            class="invalid-feedback">
                                            <div *ngIf="isRequerido('tipoPacienteId')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Aseguradora <span class="login-danger"></span></label>
                                        <mat-select formControlName="aseguradoraId"
                                            [(ngModel)]="pacienteEditar!.aseguradoraId" class="form-control select"
                                            placeholder="Seleccione Aseguradora"
                                            [ngClass]="{'is-invalid': isInvalid('aseguradoraId') && isFormSubmitted}">
                                            <mat-option *ngFor="let data of aseguradoras" [value]="data.aseguradoraId">
                                                {{data.descripcion}}
                                            </mat-option>
                                        </mat-select>
                                        <div *ngIf="isInvalid('aseguradoraId') && isFormSubmitted"
                                            class="invalid-feedback">
                                            <div *ngIf="isRequerido('aseguradoraId')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Entero de la Clinica<span class="login-danger">*</span></label>
                                        <mat-select formControlName="informacionClinicaId"
                                            [(ngModel)]="pacienteEditar!.informacionClinicaId"
                                            class="form-control select" placeholder="Seleccione una Opcion"
                                            [ngClass]="{'is-invalid': isInvalid('informacionClinicaId') && isFormSubmitted}">
                                            <mat-option *ngFor="let data of infoClinicas"
                                                [value]="data.informacionClinicaId">
                                                {{data.nombre}}
                                            </mat-option>
                                        </mat-select>
                                        <div *ngIf="isInvalid('informacionClinicaId') && isFormSubmitted"
                                            class="invalid-feedback">
                                            <div *ngIf="isRequerido('informacionClinicaId')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Historia<span class="login-danger">*</span></label>
                                        <mat-select formControlName="tipoHistoria"
                                            [(ngModel)]="pacienteEditar!.tipoHistoria" class="form-control select"
                                            placeholder="Seleccione una Opcion"
                                            [ngClass]="{'is-invalid': isInvalid('tipoHistoria') && isFormSubmitted}">
                                            <mat-option *ngFor="let data of historiaPaciente_LISTA"
                                                [value]="data.value">
                                                {{data.name}}
                                            </mat-option>
                                        </mat-select>
                                        <div *ngIf="isInvalid('tipoHistoria') && isFormSubmitted"
                                            class="invalid-feedback">
                                            <div *ngIf="isRequerido('tipoHistoria')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Empresa<span class="login-danger"></span></label>
                                        <mat-select formControlName="empresaId" [(ngModel)]="pacienteEditar!.empresaId"
                                            class="form-control select" placeholder="Seleccione una Opcion"
                                            [ngClass]="{'is-invalid': isInvalid('empresaId') && isFormSubmitted}">
                                            <mat-option *ngFor="let data of empresas" [value]="data.empresaId">
                                                {{data.descripcion}}
                                            </mat-option>
                                        </mat-select>
                                        <div *ngIf="isInvalid('empresaId') && isFormSubmitted" class="invalid-feedback">
                                            <div *ngIf="isRequerido('empresaId')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Observacion<span class="login-danger"></span></label>
                                        <input formControlName="observacion" [(ngModel)]="pacienteEditar!.observacion"
                                            class="form-control"
                                            [ngClass]="{'is-invalid': isInvalid('observacion') && isFormSubmitted}">
                                        <div *ngIf="isInvalid('observacion') && isFormSubmitted"
                                            class="invalid-feedback">
                                            <div *ngIf="isRequerido('observacion')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group select-gender">
                                        <label class="gen-label">Estado<span class="login-danger">*</span></label>
                                        <div *ngFor="let item of estado_LISTA; let i = index" class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" [value]="item.value" [checked]="item.checked"
                                                    formControlName="estado" class="form-check-input" name="estado"
                                                    [id]="item.value" [(ngModel)]="estadoPaciente"
                                                    [ngClass]="{'is-invalid': isInvalid('sexo') && isFormSubmitted}">{{item.name}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-top-form">
                                        <label class="local-top">Foto <span class="login-danger"></span></label>
                                        <div class="settings-btn upload-files-avator">
                                            <input formControlName="fotoPaciente" type="file" accept="image/*"
                                                name="image" id="foto" (change)="cargarImagenFoto($event)"
                                                class="hide-input">
                                            <label for="fotoPaciente" class="upload">Choose File</label>
                                        </div>
                                        <div class="upload-images upload-size"
                                            [ngClass]="{'d-none':deleteIcon === false}"
                                            style="width: 150px; height: 150px;">
                                            <img *ngIf="!imagenTempFoto" src="assets/img/user.jpg" alt="Image">
                                            <img *ngIf="imagenTempFoto" [src]="imagenTempFoto.toString()" alt="Image">
                                            <a (click)="deleteIconFuncFoto()" href="javascript:void(0);"
                                                class="btn-icon logo-hide-btn">
                                                <i class="feather icon-x-circle"></i>
                                            </a>
                                        </div>
                                        <div *ngIf="isInvalid('foto') && isFormSubmitted" class="invalid-feedback">
                                            <div *ngIf="isRequerido('foto')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button (click)="actualizarPaciente()"  class="btn btn-primary submit-form me-2">Guardar</button>
                                        <button [routerLink]="routes.registroPac"
                                            class="btn btn-primary cancel-form">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>