<div class="page-table-header mb-2">
    <div class="row align-items-center">
        <div class="col">
            <div class="doctor-table-blk">
                <h3>{{title}}</h3>
                <div class="doctor-search-blk">
                    <div class="top-nav-search table-search-blk">
                        <input class="form-control" placeholder="Buscar aqui" [(ngModel)]="searchDataValue"
                            (ngModelChange)="searchData(searchDataValue)">
                        <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                    </div>
                    <div class="add-group">
                        <a class="btn btn-primary add-pluss ms-2"><img src="assets/img/icons/plus.svg" alt=""
                                (click)="onCreate()"></a>
                        <a href="javascript:;" class="btn btn-primary doctor-refresh ms-2"><img
                                src="assets/img/icons/re-fresh.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto text-end float-end ms-auto download-grp">
            <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg" alt=""></a>
            <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-02.svg" alt=""></a>
            <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg" alt=""></a>
            <a href="javascript:;"><img src="assets/img/icons/pdf-icon-04.svg" alt=""></a>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table matSort (matSortChange)="sortData($event)" class="table border-0 custom-table comman-table datatable mb-0">
        <thead>
            <tr>
                <th> Nº</th>
                <th *ngFor="let column of columnas" [mat-sort-header]="column">{{column| formatName}}</th>
                <th> Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of dataSource let i = index">
                <td>{{serialNumberArray[i]}}</td>
                <td *ngFor="let nombre of columnas">{{getValue(data,nombre)}}</td>
                <td *ngIf="data.estado==='A'|| data.estado ==='1' || data.estado ===1"><button class="custom-badge status-green">Activo</button></td>
                <td *ngIf="data.estado==='I'|| data.estado ==='0' || data.estado ===0"><button class="custom-badge status-blue">Inactivo</button></td>
                <td class="text-end">
                    <div class="dropdown dropdown-action">
                        <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a *ngFor="let accion of acciones" class="dropdown-item" (click)="onAction(accion,data)"
                                href="javascript:void(0);"><i [class]="getIcon(accion)"></i> {{accion}}</a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="table_footer">
        <div class="col-sm-12 col-md-5">
            <div class="dataTables_info">
                Mostrando {{ serialNumberArray[0] }} a
                {{ serialNumberArray[serialNumberArray.length - 1] }} de
                {{ totalData }} entradas
            </div>
        </div>
        <div class="col-sm-12 col-md-7">
            <div class="pagination_section">
                <ul class="pagination">
                    <li class="page-item" [ngClass]="{
                    disabled: currentPage === 1}">
                        <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);"
                            tabindex="-1">Antes</a>
                    </li>
                    <ng-container *ngFor="let item of pageNumberArray; let i = index">
                        <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                    (pageNumberArray[currentPage - 2] > item &&
                        item !== 1 &&
                        pageNumberArray.length > 6) ||
                    (pageNumberArray[currentPage] < item &&
                        item !== 1 &&
                        pageNumberArray.length > 6 &&
                        pageNumberArray.length !== item)
                        ? 'hide-page-no'
                        : 'show-page-no'">
                            <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                                {{ item }}
                            </a>
                        </li>
                        <li class="page-item" *ngIf="
                    i === 0 &&
                    pageNumberArray.length > 6 &&
                    currentPage > 2
                    " [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)">
                            <a class="page-link" href="javascript:void(0);">
                                ...
                            </a>
                        </li>
                        <li *ngIf="
                    i === pageNumberArray.length - 2 &&
                    pageNumberArray.length > 6
                    " [hidden]="
                    currentPage >=
                        pageNumberArray[pageNumberArray.length - 2] ||
                    totalData <
                        serialNumberArray[serialNumberArray.length - 1]
                    " class="page-item" (click)="moveToPage(currentPage + 2)">
                            <a class="page-link" href="javascript:void(0);">
                                ...
                            </a>
                        </li>
                    </ng-container>
                    <li class="page-item" [ngClass]="{
                    disabled:
                    currentPage ===
                        pageNumberArray[pageNumberArray.length - 1] ||
                        dataSource.length === 0  }">
                        <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);">Siguiente
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>