.input-group {
    position: relative;
}

.icon-inside {
    position: absolute;
    right: 10px; /* Ajusta la posición según sea necesario */
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
}

.icon-inside i {
    cursor: pointer;
    padding: 5px;
}