<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.addPatient">Patients </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Add Patient</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
            
                <div class="card">
                    <div class="card-body">
                        <form (ngSubmit)="crearPaciente()" [formGroup]="form">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Datos del Paciente</h4>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Nombres <span class="login-danger">*</span></label>
                                        <input formControlName="nombre" [(ngModel)]="paciente.Nombre" class="form-control" type="text"
                                            [ngClass]="{'is-invalid': isInvalid('nombre') && isFormSubmitted}">
                                        <div *ngIf="isInvalid('nombre') && isFormSubmitted" class="invalid-feedback">
                                            <div *ngIf="isRequerido('nombre')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Apellidos <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Fecha Nacimiento <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-2">
                                    <div class="form-group local-forms">
                                        <label>Edad <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-2">
                                    <div class="form-group local-forms">
                                        <label>Documento <span class="login-danger">*</span></label>
                                        <input class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Direccion <span class="login-danger">*</span></label>
                                        <input class="form-control">
                                    </div>
                                </div>
                                <div class="col-6 col-md-6 col-xl-4">
                                    <div class="form-group select-gender">
                                        <label class="gen-label">Sexo<span class="login-danger">*</span></label>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input ">Masculino
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <input type="radio" class="form-check-input ">Femenino
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-2">
                                    <div class="form-group local-forms">
                                        <label>Estado Civil <span class="login-danger">*</span></label>
                                        <select class="form-control form select">
                                            <option value="">Casado(a)</option>
                                            <option value="">Soltero(a)</option>
                                            <option value="">Viudo(a)</option>
                                            <option value="">Divorsiado(a)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Ocupacion <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Grado de instruccion <span class="login-danger">*</span></label>
                                        <select class="form-control form select">
                                            <option value="">SECUNDARIA COMPLETA</option>
                                            <option value="">SUPERIOR</option>
                                            <option value="">PRIMARIA COMPLETA</option>
                                            <option value="">NO ESPECIFICA</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-2">
                                    <div class="form-group local-forms">
                                        <label>Telefono <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Correo <span class="login-danger">*</span></label>
                                        <input class="form-control" type="email">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Pais <span class="login-danger">*</span></label>
                                        <select class="form-control form select">
                                            <option value="">Perú</option>
                                
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Departamento <span class="login-danger">*</span></label>
                                        <select class="form-control form select">
                                            <option value="">Lima</option>
                                
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Provincia <span class="login-danger">*</span></label>
                                        <select class="form-control form select">
                                            <option value="">Lima</option>
                                
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Distrito <span class="login-danger">*</span></label>
                                        <select class="form-control form select">
                                            <option value="">Chorrillos</option>
                                
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>En caso de emergencia llamar a <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Parentesco <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Domicilio <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3">
                                    <div class="form-group local-forms">
                                        <label>Celular <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Referido por<span class="login-danger">*</span></label>
                                        <input class="form-control custom-input-height" type="text">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6 ">
                                    <div class="form-group local-forms">
                                        <label>Observacion <span class="login-danger">*</span></label>
                                        <input class="form-control custom-input-height" type="text">
                                    </div>
                                </div>
                                <div class="col-6 col-md-6 col-xl-6">
                                    <div class="form-group local-top-form">
                                        <label class="local-top">Foto <span class="login-danger"></span></label>
                                        <div class="settings-btn upload-files-avator">
                                            <input formControlName="foto" type="file" accept="image/*" name="image" id="foto"
                                                (change)="cargarImagenFoto($event)" class="hide-input">
                                            <label for="file" class="upload">Choose File</label>
                                        </div>
                                        <div class="upload-images upload-size" [ngClass]="{'d-none':deleteIcon === false}"
                                            style="width: 150px; height: 150px;">
                                            <img *ngIf="!imagenTempFoto" src="assets/img/user.jpg" alt="Image">
                                            <img *ngIf="imagenTempFoto" [src]="imagenTempFoto.toString()" alt="Image">
                                            <a (click)="deleteIconFuncFoto()" href="javascript:void(0);" class="btn-icon logo-hide-btn">
                                                <i class="feather icon-x-circle"></i>
                                            </a>
                                        </div>
                                        <div *ngIf="isInvalid('foto') && isFormSubmitted" class="invalid-feedback">
                                            <div *ngIf="isRequerido('foto')">
                                                Debe completar el campo*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button  class="btn btn-primary submit-form me-2">Guardar</button>
                                        <button [routerLink]="routes.patientsList" class="btn btn-primary cancel-form">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>							
            </div>					
        </div>
    </div>
</div>
 