<div class="row">
  <div class="col-12 col-md-12  col-xl-9">
  <div class="card">
    <div class="card-body">
      <main style="max-width: 1000px;" >
        <canvas #myCanvas [width]="canvasWidth" [height]="canvasHeight" #screen>

        </canvas>
      </main>

    </div>
  </div>
  </div>

  <div class="col-12 col-lg-12 col-xl-3" >
    <button (click)="capture()" type="button" class="btn btn-primary btn-lg me-1 w-100 mb-3">
       Capturar Odontograma </button>
    <div class="card flex-fill comman-shadow">
      <div class="card-header" style="padding-bottom: 0px;">
          <h4 class="card-title d-inline-block">Hallazgos</h4>

      </div>
      <div class="card-box">
        <ul class="nav nav-tabs nav-tabs-bottom">
          <li class="nav-item" *ngFor="let pestana of pestanas">
            <a class="nav-link" href="#bottom-tab{{ pestana.nombre }}" data-bs-toggle="tab">{{ pestana.nombre }}</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane" *ngFor="let pestana of pestanas; let i = index" [id]="'bottom-tab' + pestana.nombre">
            <div class="email-menu-blk">
              <ul >
                <ng-container *ngFor="let hallazgo of pestana.hallazgos">
                  <li *ngIf="!hallazgo.siglasHallazgo[i]" class="">
                    <a (click)="changeVariable(hallazgo)" href="javascript:;">
                      <img src="assets/img/icons/inbox.svg" class="me-2" alt="img">
                      {{ hallazgo.nombre }}
                    </a>
                  </li>
                  <li *ngIf="hallazgo.siglasHallazgo && hallazgo.siglasHallazgo.length > 1" class="dropdown ">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="assets/img/icons/inbox.svg" class="me-2" alt="img">
                      {{ hallazgo.nombre }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="border-radius: 15px;">
                      <a class="dropdown-item" *ngFor="let sigla of hallazgo.siglasHallazgo" (click)="changeVariable(hallazgo, sigla)" href="javascript:;"> {{sigla.sigla}} - {{ sigla.nombre }}</a>
                    </div>
                  </li>
                </ng-container>
              </ul>
          </div>
          </div>
        </div>
        <button *ngIf="sharedService.getVariable()" type="button" class="btn btn-primary btn-lg me-1 w-100" style="margin-bottom: 5px;">
          {{ sharedService.getVariable()?.nombre }}</button>
        <button (click)="toggleSelection()" type="button" class="btn btn-primary btn-lg me-1 w-100 ">
          {{ sharedService.hasSelection() ? 'Quitar selección' : 'Seleccione' }}</button>
      </div>
      </div>
  </div>
</div>


<ng-template #listModal>
  <div  class="col-12 col-md-12  col-xl-8 w-100 ">
    <div class="card">
      <div class="d-flex align-items-center  justify-content-between ">
        <div class="card-header">
          <h4 class="card-title d-inline-block">Lista de Hallazgos inicial</h4>
      </div>
      <!-- <div class="form-heading">
        <button (click)="abrirListaHallazgo()" class="btn btn-primary submit-form me-2"><i class="fa-solid fa-plus" style="padding-right: 10px;"></i>Agregar</button>
      </div> -->
      </div>

        <div class="card-body p-0 table-dash">
            <div class="table-responsive">
                <table  class="table mb-0 border-0 datatable custom-table">
                    <thead>
                        <tr>
                            <th >Nombre</th>
                            <th >Categoria</th>
                            <th >Diente</th>
                            <th >Diente Final</th>
                            <th >Dibujo</th>
                            <th >Especificaciones</th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of odontogramaPacienteList$">
                            <td>{{data.sigla+": " + data.nombreHallazgos[0]}}</td>
                            <td>{{data.categoria}}</td>
                            <td>{{data.numeroDiente}}</td>
                            <td>{{data.dienteFinal}}</td>
                            <td [innerHTML]="obtenerNombresTrue(data.marcas)"></td>
                            <td>{{data.especificacion}}</td>
                            <td></td>
                            <td class="text-center  align-middle">
                              <a href="javascript:;"><img src="assets/img/icons/trash.svg" class="me-2" alt="img" style="width: 25px;" (click)="eliminarHallazgoPaciente(data.pacienteOdontogramaId,data)"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
</ng-template>
