<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.permisosCrud">Permisos</a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Lista de Permisos</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table show-entire">
                    <div class="card-body">
                        <!-- Table Header -->
                        <div class="page-table-header mb-2">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="doctor-table-blk">
                                        <h3>Lista de Permisos</h3>
                                        <div class="doctor-search-blk">
                                            <div class="top-nav-search table-search-blk">
                                                <mat-select [(ngModel)]="menuId" class="form-control select" placeholder="Búsqueda de Menú">
                                                    <mat-option value="" disabled>Búsqueda de Menú</mat-option>
                                                    <mat-option value="inicio">Inicio (ver cuenta)</mat-option>
                                                    <mat-option value="inicio">Inicio (ver tutorial)</mat-option>
                                                    <mat-option value="citas">Citas (agenda)</mat-option>
                                                    <mat-option value="citas">Citas (registrar)</mat-option>
                                                    <mat-option value="tratamiento">Tratamiento (registrar)</mat-option>
                                                    <mat-option value="tratamiento">Tratamiento (ver reporte de comprobantes)</mat-option>
                                                    <mat-option value="tarifario">Tarifario (ver registro)</mat-option>
                                                    <mat-option value="Procedimiento">Procedimiento (registro de CIE10)</mat-option>
                                                    <mat-option value="historia">Historia (ver movimiento)</mat-option>
                                                    <mat-option value="reportes">Reportes</mat-option>
                                                    <mat-option value="paciente">Paciente (ver registro)</mat-option>
                                                    <mat-option value="doctor">Doctor (ver registro)</mat-option>
                                                    <mat-option value="mantenimiento">Mantenimiento (resgistro tipo de pago)</mat-option>
                                                    <mat-option value="mantenimiento">Mantenimiento (resgistro moneda)</mat-option>
                                                    <mat-option value="mantenimiento">Mantenimiento (resgistro banco)</mat-option>
                                                    <mat-option value="mantenimiento">Mantenimiento (resgistro tarjeta)</mat-option>
                                                    <mat-option value="catalago">Catalago (resgistro de unidad medida)</mat-option>
                                                    <mat-option value="catalago">Catalago (resgistro de tipo concepto)</mat-option>
                                                    <mat-option value="catalago">Catalago (resgistro de categoria)</mat-option>
                                                    <mat-option value="catalago">Catalago (resgistro de especialidad)</mat-option>
                                                    <mat-option value="catalago">Catalago (resgistro de tipo citado)</mat-option>
                                                    <mat-option value="catalago">Catalago (resgistro de alergia)</mat-option>
                                                    <mat-option value="usuario">Usuario (ver registro de usuarios)</mat-option>
                                                    <mat-option value="usuario">Usuario (ver registro de cargos)</mat-option>
                                                    <mat-option value="usuario">Usuario (ver registro de permisos)</mat-option>
                                                    <mat-option value="configuracion">Configuracion (mi clinica)</mat-option>
                                                    <mat-option value="configuracion">Configuracion (registro de tipo documento)</mat-option>
                                                    <mat-option value="historia">Historia (ver histora general)</mat-option>
                                                    <mat-option value="comisiones">Comisiones (procesar)</mat-option>
                                                    <mat-option value="reportes">Reportes (recomendados)</mat-option>
                                                    <mat-option value="citas">Citas (preagenda)</mat-option>
                                                    <mat-option value="citas">Citas (control)</mat-option>
                                                    <mat-option value="reportes">Reportes (cobros generales)</mat-option>
                                                    <mat-option value="cobros">Cobros (cobros)</mat-option>
                                                    <mat-option value="administracion">Administracion (registro gastos)</mat-option>
                                                    <mat-option value="graficos">Graficos (productividad)</mat-option>
                                                    <mat-option value="cmr">Cmr (ver reporte cmr)</mat-option>
                                                    <mat-option value="graficos">Graficos (control)</mat-option>
                                                    <mat-option value="movimientos">Movimientos (marcar)</mat-option>
                                                    <mat-option value="movimientos">Movimientos (categoria materiales)</mat-option>
                                                    <mat-option value="movimientos">Movimientos (presentacion materiales)</mat-option>
                                                    <mat-option value="movimientos">Movimientos (tipo materiales)</mat-option>
                                                    <mat-option value="movimientos">Movimientos (tipo unidades)</mat-option>
                                                    <mat-option value="movimientos">Movimientos (proveedores)</mat-option>
                                                    <mat-option value="movimientos">Movimientos (productos)</mat-option>
                                                    <mat-option value="movimientos">Movimientos (ventas)</mat-option>
                                                    <mat-option value="movimientos">Movimientos (inventarios)</mat-option>
                                                    <mat-option value="movimientos">Movimientos (compras)</mat-option>
                                                    <mat-option value="caja">Caja (correcciones)</mat-option>
                                                </mat-select>
                                                <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                                            </div>
                                            <div class="top-nav-search table-search-blk">
                                                <mat-select [(ngModel)]="rolId" class="form-control select" placeholder="Búsqueda de Rol">
                                                    <mat-option value="" disabled>Búsqueda de Rol</mat-option>
                                                    <mat-option value="Doctor">Doctor</mat-option>
                                                    <mat-option value="Administrador">Administrador</mat-option>
                                                    <mat-option value="Secretaria">Secretaria</mat-option>
                                                    <mat-option value="Asistente">Asistente</mat-option>
                                                    <mat-option value="No especifica">No especifica</mat-option>
                                                </mat-select>
                                                <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                                            </div>
                                            <div class="add-group">
                                                <a (click)="crearPermiso()" class="btn btn-primary add-pluss ms-2"><img src="assets/img/icons/plus.svg" alt=""></a>
                                                <a href="javascript:;" class="btn btn-primary doctor-refresh ms-2"><img src="assets/img/icons/re-fresh.svg" alt="" (click)="refreshData()"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto text-end float-end ms-auto download-grp">
                                    <a href="javascript:;" class="me-2"><img src="assets/img/icons/pdf-icon-01.svg" alt=""></a>
                                    <a href="javascript:;" class="me-2"><img src="assets/img/icons/pdf-icon-02.svg" alt=""></a>
                                    <a href="javascript:;" class="me-2"><img src="assets/img/icons/pdf-icon-03.svg" alt=""></a>
                                    <a href="javascript:;"><img src="assets/img/icons/pdf-icon-04.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isLoading" class="spinner-container">
                        <div class="custom-spinner"></div>
                    </div>
                    <div *ngIf="!isLoading" class="table-responsive">
                        <table matSort (matSortChange)="sortData($event)"
                            class="table border-0 custom-table comman-table datatable mb-0">
                        <thead>
                                <tr>
                                    <th mat-sort-header="permisoId">Nº</th>
                                    <th mat-sort-header="modulo">Módulo</th>
                                    <th mat-sort-header="cargo">Cargo</th>
                                    <th mat-sort-header="read">Leer</th>
                                    <th mat-sort-header="insert">Insertar</th>
                                    <th mat-sort-header="update">Actualizar</th>
                                    <th mat-sort-header="delete">Anular</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of listPermisos let i = index">
                                    <td>{{serialNumberArray[i]}}</td>
                                    <td>{{data.modulo}}</td>
                                    <td>{{data.cargo}}</td>
                                    <td>{{data.read}}</td>
                                    <td>{{data.insert}}</td>
                                    <td>{{data.update}}</td>
                                    <td>{{data.delete}}</td>
                                    <td class="text-end">
                                        <div class="dropdown dropdown-action">
                                            <a href="javascript:void(0);" class="action-icon dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-expanded="false"><i
                                                    class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" (click)="editarPermiso(data)"><i
                                                        class="fa-solid fa-pen-to-square m-r-5"></i> Editar</a>
                                                <a class="dropdown-item" href="javascript:void(0);"
                                                    (click)="eliminarPermiso(data.permisoId)"><i
                                                        class="fa fa-trash-alt m-r-5"></i> Eliminar</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="table_footer">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info">
                                    Mostrando {{ serialNumberArray[0] }} a
                                    {{ serialNumberArray[serialNumberArray.length - 1] }} de
                                    {{ totalData }} entradas
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="pagination_section">
                                    <ul class="pagination">
                                        <li class="page-item" [ngClass]="{ disabled: currentPage === 1 }">
                                            <a (click)="getMoreData('previous')" class="page-link"
                                                href="javascript:void(0);" tabindex="-1">Antes</a>
                                        </li>
                                        <ng-container *ngFor="let item of pageNumberArray; let i = index">
                                            <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                                                (pageNumberArray[currentPage - 2] > item &&
                                                    item !== 1 &&
                                                    pageNumberArray.length > 6) ||
                                                (pageNumberArray[currentPage] < item &&
                                                    item !== 1 &&
                                                    pageNumberArray.length > 6 &&
                                                    pageNumberArray.length !== item)
                                                ? 'hide-page-no'
                                                : 'show-page-no'">
                                                <a (click)="moveToPage(item)" class="page-link"
                                                    href="javascript:void(0);">
                                                    {{ item }}
                                                </a>
                                            </li>
                                            <li class="page-item" *ngIf="
                                                i === 0 &&
                                                pageNumberArray.length > 6 &&
                                                currentPage > 2
                                                " [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)">
                                                <a class="page-link" href="javascript:void(0);">
                                                    ...
                                                </a>
                                            </li>
                                            <li *ngIf="
                                                i === pageNumberArray.length - 2 &&
                                                pageNumberArray.length > 6
                                                " [hidden]="
                                                currentPage >=
                                                    pageNumberArray[pageNumberArray.length - 2] ||
                                                totalData <
                                                    serialNumberArray[serialNumberArray.length - 1]
                                                " class="page-item" (click)="moveToPage(currentPage + 2)">
                                                <a class="page-link" href="javascript:void(0);">
                                                    ...
                                                </a>
                                            </li>
                                        </ng-container>
                                        <li class="page-item" [ngClass]="{
                                            disabled:
                                            currentPage ===
                                                pageNumberArray[pageNumberArray.length - 1] ||
                                                listPermisos.length === 0
                                            }">
                                            <a (click)="getMoreData('next')" class="page-link"
                                                href="javascript:void(0);">Siguiente
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
