.button-container {
  display: flex;
  flex-wrap: wrap;
}

.button-container button {
  flex: 0 0 48%;
  margin: 0.5% 1%;
}

.tipoPaciente {
  width: 275px;
  padding-left: 40px;
  padding-right: 10px;
}

label {
  background-color: #f4f5fa;
  border-radius: 5px;
}