<div id="delete_patient" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="assets/img/sent.png" alt="" width="50" height="46">
                <h3>¿Estás seguro/a de que quieres eliminar esto ?</h3>
                <div class="m-t-20"> <a href="javascript:void(0);" class="btn btn-white me-1" data-bs-dismiss="modal">NO</a>
                    <button (clic)="eliminar()" type="submit" class="btn btn-danger">SI</button>
                </div>
            </div>
        </div>
    </div>
</div>