<div class="modal-header">
    <a><img src="assets/img/icons/calendar-icon.svg" alt=""></a>
    <h5 class="modal-title"> CUMPLEAÑOS</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancelar()"></button>
</div>
<div class="modal-body">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <label>Buscar por:</label>
                                <div class="radio-group">
                                    <label class="radio-label">
                                        <input type="radio" [(ngModel)]="selectedOption" value="hoy"> Hoy
                                    </label>
                                    <label class="radio-label">
                                        <input type="radio" [(ngModel)]="selectedOption" value="mes"> Mes
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4" *ngIf="selectedOption === 'mes'">
                                <div class="form-group">
                                    <label for="buscarPor">Mes:</label>
                                    <mat-select [(ngModel)]="selectedMonth" class="form-control select"
                                        placeholder="Seleccione un Mes">
                                        <mat-option *ngFor="let mes of meses" [value]="mes.value">
                                            {{mes.name}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <div class="form-group busqueda">
                                    <button (click)="obtenerPacientesCumpleanios()"
                                        class="btn btn-primary submit-form me-2">Buscar</button>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label>Mensaje para WhatsApp:</label>
                                    <textarea class="form-control" [(ngModel)]="whatsappMessage" rows="3"></textarea>
                                </div>
                            </div>
                            <div *ngIf="!isLoading" class="table-responsive ">
                                <table matSort (matSortChange)="sortData($event)"
                                    class="table border-0 custom-table comman-table datatable mb-0">
                                    <thead>
                                        <tr>
                                            <th mat-sort-header="paciente">Paciente</th>
                                            <th mat-sort-header="fecha">Fecha</th>
                                            <th mat-sort-header="edad">Edad</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of patientsList let i = index">
                                            <td> {{data.nombres}} {{data.apellidos}} </td>
                                            <td>{{formatoFecha(data.fechaNacimiento)}}</td>
                                            <td>{{data.edad}}</td>
                                            <td class="text"><i class="fab fa-whatsapp" (click)="enviarMensaje(data.celular)"></i> </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="table_footer">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info">
                                            Mostrando del {{ serialNumberArray[0] }} al
                                            {{ serialNumberArray[serialNumberArray.length - 1] }} de
                                            {{ totalData }} registros
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-md-7">
                                        <div class="pagination_section">
                                            <ul class="pagination">
                                                <li class="page-item" [ngClass]="{
                                            disabled: currentPage === 1
                                          }">
                                                    <a (click)="getMoreData('previous')" class="page-link"
                                                        href="javascript:void(0);" tabindex="-1">Anterior</a>
                                                </li>

                                                <ng-container *ngFor="let item of pageNumberArray; let i = index">
                                                    <li class="page-item" [class.active]="item === currentPage"
                                                        [ngClass]="
                                              (pageNumberArray[currentPage - 2] > item &&
                                                item !== 1 &&
                                                pageNumberArray.length > 6) ||
                                              (pageNumberArray[currentPage] < item &&
                                                item !== 1 &&
                                                pageNumberArray.length > 6 &&
                                                pageNumberArray.length !== item)
                                                ? 'hide-page-no'
                                                : 'show-page-no'
                                            ">
                                                        <a (click)="moveToPage(item)" class="page-link"
                                                            href="javascript:void(0);">
                                                            {{ item }}
                                                        </a>
                                                    </li>
                                                    <li class="page-item" *ngIf="
                                              i === 0 &&
                                              pageNumberArray.length > 6 &&
                                              currentPage > 2
                                            " [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)">
                                                        <a class="page-link" href="javascript:void(0);">
                                                            ...
                                                        </a>
                                                    </li>
                                                    <li *ngIf="
                                              i === pageNumberArray.length - 2 &&
                                              pageNumberArray.length > 6
                                            " [hidden]="
                                              currentPage >=
                                                pageNumberArray[pageNumberArray.length - 2] ||
                                              totalData <
                                                serialNumberArray[serialNumberArray.length - 1]
                                            " class="page-item" (click)="moveToPage(currentPage + 2)">
                                                        <a class="page-link" href="javascript:void(0);">
                                                            ...
                                                        </a>
                                                    </li>
                                                </ng-container>

                                                <li class="page-item" [ngClass]="{
                                            disabled:
                                              currentPage ===
                                                pageNumberArray[pageNumberArray.length - 1] ||
                                                patientsList.length === 0
                                          }">
                                                    <a (click)="getMoreData('next')" class="page-link"
                                                        href="javascript:void(0);">Siguiente
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>