<!-- Contenido de la pestaña 1 -->
<div class="card ">
  <div class="card-body">
    <form action="">
      <div class="row pt-4">
        <div class="col-md-6">
          <!-- Text-Area -->
          <div class="form-group local-forms">
            <label>Motivo de Consulta<span class="login-danger">*</span></label>
            <div class="input-group">
              <textarea class="form-control" formControlName="numeroDocumento" type="text">
                 </textarea>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Text-Area -->
          <div class="form-group local-forms">
            <label>Enfermedad Actual<span class="login-danger">*</span></label>
            <div class="input-group">
              <textarea class="form-control" formControlName="numeroDocumento" type="text">
                   </textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <!-- Input -->
          <div class="form-group local-forms">
            <label>Tiempo de Enfermedad<span class="login-danger">*</span></label>
            <div class="input-group">
              <input class="form-control" type="text">
            </div>
          </div>
          <!-- Input -->
          <div class="form-group local-forms">
            <label>Relato cronologico<span class="login-danger">*</span></label>
            <div class="input-group">
              <input class="form-control" type="text">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <!-- Input -->
          <div class="form-group local-forms">
            <label>Signos y sintomas principales<span class="login-danger">*</span></label>
            <div class="input-group">
              <input formControlName="numeroDocumento" class="form-control" type="text">
            </div>
          </div>
          <!-- Input -->
          <div class="form-group local-forms">
            <label>Funciones biologicas<span class="login-danger">*</span></label>
            <div class="input-group">
              <input formControlName="numeroDocumento" class="form-control" type="text">
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div>
        <div>
          <div>
            <div class="row">
              <div class="col-12">
                <div class="form-heading">
                  <h4>Antecedentes del Paciente</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <!-- Input -->
                <div class="form-group local-forms">
                  <label>Antecedentes personales<span class="login-danger">*</span></label>
                  <div class="input-group">
                    <textarea class="form-control" formControlName="numeroDocumento" type="text">
                            </textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- Input -->
                <div class="form-group local-forms">
                  <label>
                    Antecedentes Familiares<span class="login-danger">*</span></label>
                  <div class="input-group">
                    <textarea class="form-control" formControlName="numeroDocumento" type="text">
                          </textarea>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label">Esta tomando algun medicamento:</label>
                  <div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="Si" id="si" value="option1">
                      <label class="form-check-label" for="gender_male">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="No" id="no" value="option2">
                      <label class="form-check-label" for="gender_female">No</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- Input -->
                <div class="form-group local-forms">
                  <label>Nombre del medicamento<span class="login-danger">*</span></label>
                  <div class="input-group">
                    <input formControlName="numeroDocumento" class="form-control" type="text">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <!-- Input -->
                <div class="form-group local-forms">
                  <label>Motivo de uso<span class="login-danger">*</span></label>
                  <div class="input-group">
                    <input formControlName="numeroDocumento" class="form-control" type="text">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- Input -->
                <div class="form-group local-forms">
                  <label>Dosis<span class="login-danger">*</span></label>
                  <div class="input-group">
                    <input formControlName="numeroDocumento" class="form-control" type="text">
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="form-actions mb-5 d-flex flex-row-reverse">
        <button  type="submit" class="btn btn-primary " data-dashlane-rid="afad45a6e1337db1"
          data-form-type="action" data-dashlane-label="true"> <i class="fa fa-check"></i> Guardar</button>
      </div>
    </form>
  </div>
</div>
