
<div class="page-wrapper">
  <div class="content">
     <!-- Page Header -->
     <div class="page-header">
      <div class="row">
          <div class="col-sm-12">
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a>Historia Paciente</a></li>
                  <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                  <li class="breadcrumb-item active">{{base}}</li>
              </ul>
          </div>
      </div>
  </div>
    <div class="row">
      <div class="col-lg-2">
        <app-mini-sidebar ></app-mini-sidebar>
      </div>

      <div class="col-lg-10">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>



