


canvas{
  background-color: rgb(255, 255, 255);
  // border: 2px solid #9095cf;
  // border-radius: 15px;

}


#myCanvas {
  z-index: 1;
}

#myCanvas2 {
  z-index: 2;
}

#myCanvas3 {
  z-index: 3;
}
