<div class="settings-menu-links">
  <ul class="nav nav-tabs menu-tabs" style="margin-bottom: 0px;">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLink]="['./odontograma-inicial',pacienteId]">
          <a class="nav-link"  >Odo. Inicial</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLink]="['./odontograma-evolucion',pacienteId]">
          <a  class="nav-link" >Odo. Alta</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLink]="['./odontograma-alta',pacienteId]">
          <a  class="nav-link"  >Odo. Evolucion</a>
      </li>
  </ul>
</div>

<router-outlet></router-outlet>
