<div class="content">
    <div class="row">
        <div class="col-sm-20">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-15">
                                <div class="form-heading">
                                    <h4>Nuevo Tarifario</h4>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-15">
                                <div class="form-group local-forms">
                                    <label>Descripcion <span class="login-danger">*</span></label>
                                    <input formControlName="descripcion" class="form-control" type="text"
                                        [ngClass]="{'is-invalid': isInvalid('descripcion')}">
                                    <div *ngIf="isInvalid('descripcion') || mostrarErrores" class="invalid-feedback">
                                        <div *ngIf="isRequerido('descripcion')|| mostrarErrores">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Tipo Concepto <span class="login-danger">*</span></label>
                                    <mat-select formControlName="tipoconcepto"
                                        class="form-control select" placeholder="Seleccione Tipo Concepto"
                                        [ngClass]="{'is-invalid': isInvalid('tipoconcepto') && isFormSubmitted}">
                                        <mat-option *ngFor="let data of tipoconcepto_LISTA"
                                            [value]="data.tipoConceptoId">
                                            {{data.nombre}}
                                        </mat-option>
                                    </mat-select>
                                    <div *ngIf="isInvalid('tipoconcepto') && isFormSubmitted"
                                        class="invalid-feedback">
                                        <div *ngIf="isRequerido('tipoconcepto')">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Moneda <span class="login-danger">*</span></label>
                                    <mat-select formControlName="moneda"
                                        class="form-control select" placeholder="Seleccione Tipo Moneda"
                                        [ngClass]="{'is-invalid': isInvalid('moneda') && isFormSubmitted}">
                                        <mat-option *ngFor="let data of moneda_LISTA"
                                            [value]="data.tipoMonedaId">
                                            {{data.descripcion}}
                                        </mat-option>
                                    </mat-select>
                                    <div *ngIf="isInvalid('moneda') && isFormSubmitted"
                                        class="invalid-feedback">
                                        <div *ngIf="isRequerido('moneda')">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-12">
                                <div class="form-group local-forms">
                                    <label>Precio<span class="login-danger">*</span></label>
                                    <input formControlName="precio" class="form-control" type="text"
                                            [ngClass]="{'is-invalid': isInvalid('precio')}"
                                            (input)="validarInput($event)">
                                    <div *ngIf="isInvalid('precio') || mostrarErrores" class="invalid-feedback">
                                        <div *ngIf="isRequerido('precio') || mostrarErrores">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                <label>Fecha de Registro<span class="text-danger">*</span></label>
                                <input formControlName="fechaRegistro" class="form-control datetimepicker" type="text" matInput
                                    [matDatepicker]="picker">
                                <mat-datepicker-toggle matIconSuffix [for]="picker" matDatepickerFilter="DD/MM/YYYY"></mat-datepicker-toggle>
                                <mat-datepicker #picker matDatepickerFilter="DD/MM/YYYY"></mat-datepicker>
                                  <div *ngIf="isInvalid('fechaRegistro')" class="invalid-feedback">
                                    Debe seleccionar una fecha válida.
                                </div>
                                </div>
                            </div>
                            

                            
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Unidades <span class="login-danger">*</span></label>
                                    <mat-select formControlName="unidad"
                                        class="form-control select" placeholder="Seleccione Tipo Unidad"
                                        [ngClass]="{'is-invalid': isInvalid('unidad') && isFormSubmitted}">
                                        <mat-option *ngFor="let data of unidad_LISTA"
                                            [value]="data.unidadId">
                                            {{data.nombre}}
                                        </mat-option>
                                    </mat-select>
                                    <div *ngIf="isInvalid('unidad') && isFormSubmitted"
                                        class="invalid-feedback">
                                        <div *ngIf="isRequerido('unidad')">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Medida <span class="login-danger">*</span></label>
                                    <mat-select formControlName="medida"
                                        class="form-control select" placeholder="Seleccione Tipo Medida"
                                        [ngClass]="{'is-invalid': isInvalid('medida') && isFormSubmitted}">
                                        <mat-option *ngFor="let data of medida_LISTA"
                                            [value]="data.unidadMedidaId">
                                            {{data.nombre}}
                                        </mat-option>
                                    </mat-select>
                                    <div *ngIf="isInvalid('medida') && isFormSubmitted"
                                        class="invalid-feedback">
                                        <div *ngIf="isRequerido('medida')">
                                            Debe completar el campo*
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                            <div class="col-12 col-md-12 col-xl-6">
                                <div class="form-group local-forms">
                                    <label>Estado <span class="login-danger">*</span></label>
                                    <mat-select class="form-control select" placeholder="Activo" [disabled]="true">
                                    </mat-select>
                                </div>
                            </div>
                            
                        
                        </div>
                    </form>
                    <div class="col-12">
                        <div class="doctor-submit text-end">
                            <button type="submit" (click)="crearTarifario()"
                                class="btn btn-primary submit-form me-2">Guardar</button>
                            <button type="submit" (click)="Cancelar()"
                                class="btn btn-primary cancel-form">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>