
<div class="card">
  <div class="card-body">
    <div class="col-12">
      <div class="form-heading">
        <h4>Lista de Imágenes</h4>
    </div>
      <div class="form-heading">
        <button (click)="crearAlergiaPaciente()"  class="btn btn-primary submit-form me-2"><i class="fa-solid fa-plus" style="padding-right: 10px;"></i>Agregar</button>
      </div>
  </div>

  <div *ngIf="isLoading" class="spinner-container">
    <div class="custom-spinner"></div>
  </div>

    <div *ngIf="!isLoading"  class="table-responsive">
      <!-- <h5>Mostrar --- Registros</h5> -->
      <table class="table border-0 custom-table comman-table datatable mb-0">
        <thead>
          <tr>

              <th >N°</th>
              <!-- <th mat-sort-header="specialization">Especializacion</th> -->
              <th>Fecha</th>
              <th>Nombre</th>
              <th>Notas</th>
              <th>Archivo</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of pacienteImagenList let i = index">

            <td>{{serialNumberArray[i]}}</td>
            <td>{{ data.fecha }}</td>
            <td>{{ data.nombre}}</td>
            <td>{{ data.notas }}</td>
            <td><li class="" (click)="navegarAGaleriaImagenes()"><a href="javascript:;"><img src="assets/img/icons/imagePatientIcon.svg" class="me-2" alt="img">Agregar Imágenes</a></li></td>
            <td class="text-end">
              <div class="dropdown dropdown-action">
                <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                  aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-end">
                  <a  class="dropdown-item"><i
                      class="fa-solid fa-pen-to-square m-r-5"></i> Editar</a>
                  <a class="dropdown-item" href="javascript:void(0);"><i
                      class="fa fa-trash-alt m-r-5"></i> Eliminar</a>
                </div>
              </div>
            </td>


        </tr>
    </tbody>
      </table>
      <div class="table_footer">
        <div class="col-sm-12 col-md-5">
          <div class="dataTables_info">
            Mostrando {{ serialNumberArray[0] }} a
            {{ serialNumberArray
            [serialNumberArray.length - 1] }} de
{{ totalData }} entradas
          </div>
        </div>

        <div class="col-sm-12 col-md-7">
          <div class="pagination_section">
            <ul class="pagination">
              <li class="page-item" [ngClass]="{
                                  disabled: currentPage === 1
                                }">
                <a (click)="getMoreData('previous')" class="page-link" href="javascript:void(0);"
                  tabindex="-1">Previous</a>
              </li>

              <ng-container *ngFor="let item of pageNumberArray; let i = index">
                <li class="page-item" [class.active]="item === currentPage" [ngClass]="
                                    (pageNumberArray[currentPage - 2] > item &&
                                      item !== 1 &&
                                      pageNumberArray.length > 6) ||
                                    (pageNumberArray[currentPage] < item &&
                                      item !== 1 &&
                                      pageNumberArray.length > 6 &&
                                      pageNumberArray.length !== item)
                                      ? 'hide-page-no'
                                      : 'show-page-no'
                                  ">
                  <a (click)="moveToPage(item)" class="page-link" href="javascript:void(0);">
                    {{ item }}
                  </a>
                </li>
                <li class="page-item" *ngIf="
                                    i === 0 &&
                                    pageNumberArray.length > 6 &&
                                    currentPage > 2
                                  " [hidden]="currentPage === 1" (click)="moveToPage(currentPage - 2)">
                  <a class="page-link" href="javascript:void(0);">
                    ...
                  </a>
                </li>
                <li *ngIf="
                                    i === pageNumberArray.length - 2 &&
                                    pageNumberArray.length > 6
                                  " [hidden]="
                                    currentPage >=
                                      pageNumberArray[pageNumberArray.length - 2] ||
                                    totalData <
                                      serialNumberArray[serialNumberArray.length - 1]
                                  " class="page-item" (click)="moveToPage(currentPage + 2)">
                  <a class="page-link" href="javascript:void(0);">
                    ...
                  </a>
                </li>
              </ng-container>

              <li class="page-item" [ngClass]="{
                                  disabled:
                                    currentPage ===
                                      pageNumberArray[pageNumberArray.length - 1] ||
                                      pacienteImagenList.length === 0
                                }">
                <a (click)="getMoreData('next')" class="page-link" href="javascript:void(0);">Next
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
